unpackaged/main/default/flows/Case_Scenario_Subflow_to_update_Addtl_Details_CMDT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Additional_Details_CMDT_records</name>
        <label>Update Additional Details CMDT records</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <actionName>CustomMetadataSaver</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__customMetadataRecords</typeName>
            <typeValue>Brand_Form_Additional_Details__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customMetadataRecords</name>
            <value>
                <elementReference>collvar_AddtlDetailsCMDTtoUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnError</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnSuccess</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_varCaseScenarioforUpdate_to_collection</name>
        <label>Add varCaseScenarioforUpdate to collection</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>collvar_AddtlDetailsCMDTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAddtlDetailMDTtoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Addtl_Details_CMDT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewScenarioName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_varCaseScenarioforUpdate_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Invoked by the Case Scenario: Edit screen flow to circumvent System Permissions/restrictions for modifying custom metadata</description>
    <environments>Default</environments>
    <interviewLabel>Case Scenario: Subflow to update Addtl Details CMDT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Scenario: Subflow to update Addtl Details CMDT</label>
    <loops>
        <name>Loop_Addtl_Details_CMDT</name>
        <label>Loop Addtl Details CMDT</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>collvar_FoundAdditionalDetailsMDT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Additional_Details_CMDT_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Addtl_Details_CMDT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collvar_AddtlDetailsCMDTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>collvar_FoundAdditionalDetailsMDT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>varAddtlDetailMDTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>varNewScenarioName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
