unpackaged/main/default/flows/Case_Auto_Response_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calvin_Klein_Ecomm_Auto_Response_2_Alert</name>
        <label>Calvin Klein Ecomm Auto-Response 2 Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Calvin_Klein_Ecomm_Auto_Response_2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calvin_Klein_Ecomm_Auto_Response_Alert</name>
        <label>Calvin Klein Ecomm Auto-Response Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.Calvin_Klein_Ecomm_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calvin_Klein_Retail_Auto_Response_Alert</name>
        <label>Calvin Klein Retail Auto-Response Alert</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.Calvin_Klein_Retail_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calvin_Klein_Wholesale_Auto_Response_Alert</name>
        <label>Calvin Klein Wholesale Auto-Response Alert</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Case.Calvin_Klein_Wholesale_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Olga_Auto_Response_Alert</name>
        <label>Olga Auto-Response Alert</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Case.Olga_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PVH_Corp_Auto_Response2_Alert</name>
        <label>PVH Corp Auto-Response2 Alert</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Case.PVH_Corp_Auto_Response2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PVH_Corp_Auto_Response_Alert</name>
        <label>PVH Corp Auto-Response Alert</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Case.PVH_Corp_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tommy_Ecomm_Auto_Response2_Alert</name>
        <label>Tommy Ecomm Auto-Response2 Alert</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <actionName>Case.Tommy_Ecomm_Auto_Response2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tommy_Retail_Auto_Response2_Alert</name>
        <label>Tommy Retail Auto-Response2 Alert</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Case.Tommy_Retail_Auto_Response2_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tommy_Retail_Auto_Response_Alert</name>
        <label>Tommy Retail Auto-Response Alert</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Case.Tommy_Retail_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tommy_Wholesale_Auto_Response_Alert</name>
        <label>Tommy Wholesale Auto-Response Alert</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Case.Tommy_Wholesale_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>True_Co_Auto_response_Alert</name>
        <label>True&amp;Co Auto-response Alert</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Case.True_Co_Auto_response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Warners_Auto_Response_Alert</name>
        <label>Warners Auto-Response Alert</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Case.Warners_Auto_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decCase_Auto_Response</name>
        <label>Case Auto Response</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>res2Calvin_Klein_Ecomm</name>
            <conditionLogic>((1 AND 6) OR ( 3 AND 4 AND 5)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CalvinKlein.us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calvin_Klein_Ecomm_Auto_Response_2_Alert</targetReference>
            </connector>
            <label>2 Calvin Klein Ecomm</label>
        </rules>
        <rules>
            <name>resCalvin_Klein_Ecomm</name>
            <conditionLogic>((1 AND 2 AND 3 ) OR ( 4 AND 5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>customerservice-ca@calvinklein.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CalvinKlein.ca</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calvin_Klein_Ecomm_Auto_Response_Alert</targetReference>
            </connector>
            <label>Calvin Klein Ecomm</label>
        </rules>
        <rules>
            <name>resCalvin_Klein_Retail</name>
            <conditionLogic>((1 AND 2 AND 3) OR (4 AND 5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calvin Klein Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>calvinkleincustomerservice@pvh.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calvin_Klein_Retail_Auto_Response_Alert</targetReference>
            </connector>
            <label>Calvin Klein Retail</label>
        </rules>
        <rules>
            <name>resCalvin_Klein_Wholesale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Retailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calvin_Klein_Wholesale_Auto_Response_Alert</targetReference>
            </connector>
            <label>Calvin Klein Wholesale</label>
        </rules>
        <rules>
            <name>resOlga</name>
            <conditionLogic>((1 AND 2 AND 3) OR (4 AND 5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactUs@OlgaIntimates.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Olga.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Olga_Auto_Response_Alert</targetReference>
            </connector>
            <label>Olga</label>
        </rules>
        <rules>
            <name>resPVH_Corp</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pvhcustomerservice@pvh.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>custsvchelp@pvh.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PVH_Corp_Auto_Response_Alert</targetReference>
            </connector>
            <label>PVH Corp</label>
        </rules>
        <rules>
            <name>resTommy_Retail</name>
            <conditionLogic>1 AND (2 or 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>tommyhilfigercustomerservice@pvh.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>thservice@tommy.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tommy_Retail_Auto_Response_Alert</targetReference>
            </connector>
            <label>Tommy Retail</label>
        </rules>
        <rules>
            <name>resTommy_Wholesale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Retailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tommy_Wholesale_Auto_Response_Alert</targetReference>
            </connector>
            <label>Tommy Wholesale</label>
        </rules>
        <rules>
            <name>resTrue_Co</name>
            <conditionLogic>((1 AND 2 AND 3 ) OR ( 4 AND (5 OR 6 OR 7 OR 8) AND 9)) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@trueandco.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>trueandco.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amazon.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nordstrom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Retailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True_Co_Auto_response_Alert</targetReference>
            </connector>
            <label>True&amp;Co</label>
        </rules>
        <rules>
            <name>resWarners</name>
            <conditionLogic>((1 AND 2 AND 3 ) OR ( 4 AND 5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactUs@Warners.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warner.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warners_Auto_Response_Alert</targetReference>
            </connector>
            <label>Warners</label>
        </rules>
        <rules>
            <name>res2_PVH_Corp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactUsPVH@pvh.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PVH_Corp_Auto_Response2_Alert</targetReference>
            </connector>
            <label>2 PVH Corp</label>
        </rules>
        <rules>
            <name>res2_Tommy_Retail</name>
            <conditionLogic>((1 AND 2 AND 3) OR (4 AND 5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.emailToAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>tommyhelp@tommy.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tommy.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tommy_Ecomm_Auto_Response2_Alert</targetReference>
            </connector>
            <label>2 Tommy Retail</label>
        </rules>
        <rules>
            <name>resTommy_Wholesale2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tommy Hilfiger Retail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tommy_Retail_Auto_Response2_Alert</targetReference>
            </connector>
            <label>Tommy Wholesale2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Auto Response Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decCase_Auto_Response</targetReference>
        </connector>
        <filterFormula>AND(
    NOT(ISBLANK({!$Record.ContactId})),
    ISPICKVAL({!$Record.Status},&#39;New&#39;),
    
    OR(
        AND(
        ISPICKVAL({!$Record.Origin},&#39;Email&#39;),
        NOT(ISBLANK({!$Record.emailToAddress__c})),
        {!$Record.Source:EmailMessage.Incoming} = TRUE
        )
    ,
        AND(
            ISPICKVAL({!$Record.Origin},&#39;Web&#39;),
            NOT(ISBLANK(TEXT({!$Record.Brand__c}))),
            NOT(ISBLANK(TEXT({!$Record.Channel__c})))
        )
    )
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>1400</triggerOrder>
</Flow>
