unpackaged/main/default/flows/Case_After_Create_Send_Survey_Invitation_Non_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Passes_additional_entry_criteria</name>
        <label>Copy 1 of Passes additional entry criteria?</label>
        <locationX>776</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNotCorporateScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fNotOrderCancellationScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fNotServiceScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_original_Case_record</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_still_meets_entry_criteria</name>
        <label>Case still meets entry criteria?</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_still_meets_entry_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_original_Case_record.Eligible_For_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original_Case_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey</targetReference>
            </connector>
            <label>Yes, still meets entry criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPasses_additional_entry_criteria</name>
        <label>Passes additional entry criteria?</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNotCorporateScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fNotOrderCancellationScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fNotServiceScenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fNotCorporateScenario</name>
        <dataType>Boolean</dataType>
        <expression>NOT(BEGINS({!$Record.NFCaseScenario__r.Name}, &#39;Corporate&#39;))</expression>
    </formulas>
    <formulas>
        <name>fNotOrderCancellationScenario</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.NFCaseScenario__r.Name} != &quot;Orders: Inquiring about cancelled order&quot;,
{!$Record.NFCaseScenario__r.Name} != &quot;Orders: Inquiring about cancelled item(s)&quot;,
{!$Record.NFCaseScenario__r.Name} != &quot;Orders: Requesting order be cancelled&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fNotServiceScenario</name>
        <dataType>Boolean</dataType>
        <expression>NOT(BEGINS({!$Record.NFCaseScenario__r.Name}, &#39;Service&#39;))</expression>
    </formulas>
    <interviewLabel>Case: After Create, Send Survey Invitation - Non-Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Create, Send Survey Invitation - Non-Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_original_Case_record</name>
        <label>Get original Case record</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCase_still_meets_entry_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decPasses_additional_entry_criteria</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseRecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Survey Follow Up Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <filters>
            <field>ZdTnCBilling__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>International</stringValue>
            </value>
        </filters>
        <filters>
            <field>ZdTnCFit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Out of Size Range</stringValue>
            </value>
        </filters>
        <filters>
            <field>Duplicate_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_days_from_now</name>
            <connector>
                <targetReference>Copy_1_of_Passes_additional_entry_criteria</targetReference>
            </connector>
            <label>3 days from now</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Survey</name>
        <label>Send Survey</label>
        <locationX>446</locationX>
        <locationY>648</locationY>
        <flowName>Flow_for_Survey_Invitation</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>300</triggerOrder>
</Flow>
