unpackaged/main/default/flows/Case_After_Save_2_and_7_day_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Seven_days_milestone_Calvin_klein</name>
        <label>Seven days milestone Calvin klein</label>
        <locationX>3746</locationX>
        <locationY>648</locationY>
        <actionName>Case.Seven_days_milestone_Calvin_klein</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_7_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Seven_days_milestone_Olga</name>
        <label>Seven days milestone Olga</label>
        <locationX>5330</locationX>
        <locationY>648</locationY>
        <actionName>Case.Seven_days_milestone_Olga</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_10_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Seven_days_milestone_Tommy_Hilfiger</name>
        <label>Seven days milestone Tommy Hilfiger</label>
        <locationX>3218</locationX>
        <locationY>648</locationY>
        <actionName>Case.Seven_days_milestone_Tommy_Hilfiger</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_6_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Seven_days_milestone_True_co</name>
        <label>Seven days milestone True&amp; co</label>
        <locationX>4802</locationX>
        <locationY>648</locationY>
        <actionName>Case.Seven_days_milestone_True_co</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_9_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Seven_days_milestone_Warner</name>
        <label>Seven days milestone Warner</label>
        <locationX>4274</locationX>
        <locationY>648</locationY>
        <actionName>Case.Seven_days_milestone_Warner</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_8_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Calvin_klein</name>
        <label>Two days milestone Calvin klein</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>Case.Two_days_milestone_Calvin_klein</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_reminder_to_Reminder_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Olga</name>
        <label>Two days milestone Olga</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <actionName>Case.Two_days_milestone_Olga</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_reminder_to_Reminder_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Tommy_Hilfiger</name>
        <label>Two days milestone Tommy Hilfiger</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Case.Two_days_milestone_Tommy_Hilfiger</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_reminder_to_Reminder_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_True_Co</name>
        <label>Two days milestone True&amp; Co</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <actionName>Case.Two_days_milestone_True_Co</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_reminder_to_Reminder_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Warners</name>
        <label>Two days milestone Warners</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>Case.Two_days_milestone_Warners</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_reminder_to_Reminder_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Tommy Hilfiger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Fault_Section</name>
        <label>Copy 10 of Assign Fault Section</label>
        <locationX>5594</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seven days milestone Olga</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Fault_Section</name>
        <label>Copy 11 of Assign Fault Section</label>
        <locationX>6386</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get triggering Case record - Day 7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Fault_Section</name>
        <label>Copy 12 of Assign Fault Section</label>
        <locationX>6914</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve Case and Suppress Survey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_Fault_Section</name>
        <label>Copy 13 of Assign Fault Section</label>
        <locationX>7442</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get triggering Case record - Day 8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Calvin klein</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Section</name>
        <label>Copy 2 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Warners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Fault_Section</name>
        <label>Copy 3 of Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone True&amp; Co</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Fault_Section</name>
        <label>Copy 4 of Assign Fault Section</label>
        <locationX>2426</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Olga</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Fault_Section</name>
        <label>Copy 5 of Assign Fault Section</label>
        <locationX>2954</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update reminder to &#39;Reminder Schedule&#39;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Fault_Section</name>
        <label>Copy 6 of Assign Fault Section</label>
        <locationX>3482</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seven days milestone Tommy Hilfiger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Fault_Section</name>
        <label>Copy 7 of Assign Fault Section</label>
        <locationX>4010</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seven days milestone Calvin klein</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Fault_Section</name>
        <label>Copy 8 of Assign Fault Section</label>
        <locationX>4538</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seven days milestone Warner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Fault_Section</name>
        <label>Copy 9 of Assign Fault Section</label>
        <locationX>5066</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seven days milestone True&amp; co</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This process will send Reminder email to customer on 2nd day after the case (Support Case) status is change to Pending and if there is associated contact Email on Case.</description>
        <name>decBrand</name>
        <label>Brand</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resTommy_Hilfiger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Tommy_Hilfiger</targetReference>
            </connector>
            <label>Tommy Hilfiger</label>
        </rules>
        <rules>
            <name>resCalvin_Klein</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Calvin_klein</targetReference>
            </connector>
            <label>Calvin Klein</label>
        </rules>
        <rules>
            <name>resWarner_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Warners</targetReference>
            </connector>
            <label>Warner&#39;s</label>
        </rules>
        <rules>
            <name>resTrue_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_True_Co</targetReference>
            </connector>
            <label>True&amp;Co</label>
        </rules>
        <rules>
            <name>resOlga</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Olga</targetReference>
            </connector>
            <label>Olga</label>
        </rules>
    </decisions>
    <decisions>
        <name>decBrand_7_day</name>
        <label>Brand - 7 day</label>
        <locationX>4538</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resTommy_Hilfiger_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seven_days_milestone_Tommy_Hilfiger</targetReference>
            </connector>
            <label>Tommy Hilfiger - 7 Day</label>
        </rules>
        <rules>
            <name>resCalvin_Klein_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seven_days_milestone_Calvin_klein</targetReference>
            </connector>
            <label>Calvin Klein - 7 Day</label>
        </rules>
        <rules>
            <name>resWarner_s_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seven_days_milestone_Warner</targetReference>
            </connector>
            <label>Warner&#39;s - 7 Day</label>
        </rules>
        <rules>
            <name>resTrue_Co_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seven_days_milestone_True_co</targetReference>
            </connector>
            <label>True&amp;Co - 7 Day</label>
        </rules>
        <rules>
            <name>resOlga_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seven_days_milestone_Olga</targetReference>
            </connector>
            <label>Olga - 7 Day</label>
        </rules>
    </decisions>
    <decisions>
        <description>This process will send Reminder email to customer on 7th day after the case (Support Case) status is change to Pending and if there is associated contact Email on Case and on 8th day case &quot;Status&quot; will be change to &quot;Resolved&quot;</description>
        <name>decCase_is_7_Day_Reminder_Ready</name>
        <label>Case is 7 Day &#39;Reminder Ready&#39;?</label>
        <locationX>5330</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_7_Day_reminder_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_triggering_Case_record_Day_7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decBrand_7_day</targetReference>
            </connector>
            <label>Yes, 7 Day reminder ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_is_8_Day_ready</name>
        <label>Case is 8 Day ready?</label>
        <locationX>6914</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_8_Day_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_triggering_Case_record_Day_8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolve_Case_and_Suppress_Survey</targetReference>
            </connector>
            <label>Yes, 8 Day ready</label>
        </rules>
    </decisions>
    <description>This process will send Reminder email to customer on 2nd day after the case (Support Case) status is change to Pending and if there is associated contact Email on Case.

This process will also send Reminder email to customer on 7th day after the case (Support Case) status is change to Pending and if there is associated contact Email on Case and on 8th day case &quot;Status&quot; will be change to &quot;Resolved&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Case: d {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Save, 2 and 7 day reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_triggering_Case_record_Day_7</name>
        <label>Get triggering Case record - Day 7</label>
        <locationX>5330</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCase_is_7_Day_Reminder_Ready</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_7day_reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reminder Ready</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_triggering_Case_record_Day_8</name>
        <label>Get triggering Case record - Day 8</label>
        <locationX>6914</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCase_is_8_Day_ready</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_13_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_for_7day_reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reminder Ready</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Resolve_Case_and_Suppress_Survey</name>
        <label>Resolve Case and Suppress Survey</label>
        <locationX>6650</locationX>
        <locationY>528</locationY>
        <faultConnector>
            <targetReference>Copy_12_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suppress_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_reminder_to_Reminder_Schedule</name>
        <label>Update reminder to &#39;Reminder Schedule&#39;</label>
        <locationX>1370</locationX>
        <locationY>828</locationY>
        <faultConnector>
            <targetReference>Copy_5_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Eligible_for_7day_reminder__c</field>
            <value>
                <stringValue>Reminder Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseRecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_from_Now</name>
            <connector>
                <targetReference>decBrand</targetReference>
            </connector>
            <label>2 Days from Now</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_Days_from_Now</name>
            <connector>
                <targetReference>Get_triggering_Case_record_Day_7</targetReference>
            </connector>
            <label>7 Days from Now</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X8_Days_from_Now</name>
            <connector>
                <targetReference>Get_triggering_Case_record_Day_8</targetReference>
            </connector>
            <label>8 Days from Now</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_subflow</name>
        <label>Run error handling subflow</label>
        <locationX>6914</locationX>
        <locationY>768</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Case: After Save, 2 and 7 day reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>700</triggerOrder>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
