unpackaged/main/default/flows/Case_After_Save_CSR_Loyalty_Points_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_A1TrackerAPIPoints</name>
        <label>Call A1TrackerAPIPoints</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>A1TrackerAPIPoints</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call A1TrackerAPIPoints</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Pending Points Adjustment field</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Section</name>
        <label>Copy 2 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get triggering Case record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decCase_still_meets_criteria</name>
        <label>Case still meets criteria?</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_still_meets_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_triggering_Case_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pending_Points_Adjustment_field</targetReference>
            </connector>
            <label>Yes, still meets criteria</label>
        </rules>
    </decisions>
    <description>WHEN a Case record has a pending points adjustment
THEN call A1 Tracker Api
AND 36 hours from now update Case&#39;s pending points adjustment to false</description>
    <environments>Default</environments>
    <interviewLabel>Case: After Save, CSR Loyalty Points Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Save, CSR Loyalty Points Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_triggering_Case_record</name>
        <label>Get triggering Case record</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCase_still_meets_criteria</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PendingPointsAdjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pending_Points_Adjustment_field</name>
        <label>Update Pending Points Adjustment field</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PendingPointsAdjustment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_A1TrackerAPIPoints</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PendingPointsAdjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PointsGranted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PointsAdjustmentTimeStamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_36_hours</name>
            <connector>
                <targetReference>Get_triggering_Case_record</targetReference>
            </connector>
            <label>Wait 36 hours</label>
            <offsetNumber>36</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_flow</name>
        <label>Run error handling flow</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Case: After Save, CSR Loyalty Points Adjustment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1320</triggerOrder>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
