unpackaged/main/default/flows/Case_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Tracking_Record_FedEx_Bridgewater</name>
        <label>Create Tracking Record - FedEx Bridgewater</label>
        <locationX>1062</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_FedExBridgewater_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_FedExJonesvilleBridgewater_preferenceid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Tracking_Record_FedEx_Jonesville</name>
        <label>Create Tracking Record - FedEx Jonesville</label>
        <locationX>534</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_FedExJonesville_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_FedExJonesvilleBridgewater_preferenceid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Tracking_Record_UPS_CK</name>
        <label>Create Tracking Record - UPS - CK</label>
        <locationX>2118</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_CK_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_CK_preferenceid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Tracking_Record_UPS_HR</name>
        <label>Create Tracking Record - UPS - HR</label>
        <locationX>1590</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_HR_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_HR_preferenceid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Tracking_Record_UPS_SP</name>
        <label>Create Tracking Record - UPS - SP</label>
        <locationX>2646</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_SP_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_SP_preferenceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Tracking_Record_UPS_TH</name>
        <label>Create Tracking Record - UPS - TH</label>
        <locationX>3174</locationX>
        <locationY>3551</locationY>
        <actionName>zkmulti__InvocableTracking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createShipmentIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customAddressId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_TH_customAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferenceId</name>
            <value>
                <elementReference>$Label.Shipment_UPS_TH_preferenceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>$Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Five_days_milestone_Calvin_klein</name>
        <label>Five days milestone Calvin klein</label>
        <locationX>578</locationX>
        <locationY>5723</locationY>
        <actionName>Case.Five_days_milestone_Calvin_klein</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_18_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Five_days_milestone_Olga</name>
        <label>Five days milestone Olga</label>
        <locationX>2162</locationX>
        <locationY>5723</locationY>
        <actionName>Case.Five_days_milestone_Olga</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_21_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Five_days_milestone_Tommy_Hilfiger</name>
        <label>Five days milestone Tommy Hilfiger</label>
        <locationX>50</locationX>
        <locationY>5723</locationY>
        <actionName>Case.Five_days_milestone_Tommy_Hilfiger</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_17_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Five_days_milestone_True_co</name>
        <label>Five days milestone True&amp; co</label>
        <locationX>1634</locationX>
        <locationY>5723</locationY>
        <actionName>Case.Five_days_milestone_True_co</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_20_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Five_days_milestone_Warner</name>
        <label>Five days milestone Warner</label>
        <locationX>1106</locationX>
        <locationY>5723</locationY>
        <actionName>Case.Five_days_milestone_Warner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_19_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Case_Assignment_Rules_Other_Cases</name>
        <label>Run Case Assignment Rules (Other Cases)</label>
        <locationX>1854</locationX>
        <locationY>695</locationY>
        <actionName>Run_Assignment__Invocable_StandardAssignmentV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decStatus_changed_to_Resolved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerAutoResponseEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerOtherEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerUserEMail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Three_days_milestone_Calvin_klein</name>
        <label>Three days milestone Calvin klein</label>
        <locationX>578</locationX>
        <locationY>4967</locationY>
        <actionName>Case.Three_days_milestone_Calvin_klein</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_13_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Three_days_milestone_Olga</name>
        <label>Three days milestone Olga</label>
        <locationX>2162</locationX>
        <locationY>4967</locationY>
        <actionName>Case.Three_days_milestone_Olga</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_16_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Three_days_milestone_Tommy_Hilfiger</name>
        <label>Three days milestone Tommy Hilfiger</label>
        <locationX>50</locationX>
        <locationY>4967</locationY>
        <actionName>Case.Three_days_milestone_Tommy_Hilfiger</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Three_days_milestone_True_co</name>
        <label>Three days milestone True&amp; co</label>
        <locationX>1634</locationX>
        <locationY>4967</locationY>
        <actionName>Case.Three_days_milestone_True_co</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_15_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Three_days_milestone_Warner</name>
        <label>Three days milestone Warner</label>
        <locationX>1106</locationX>
        <locationY>4967</locationY>
        <actionName>Case.Three_days_milestone_Warner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_14_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Calvin_klein</name>
        <label>Two days milestone Calvin klein</label>
        <locationX>578</locationX>
        <locationY>4211</locationY>
        <actionName>Case.Two_days_milestone_Calvin_klein</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Olga</name>
        <label>Two days milestone Olga</label>
        <locationX>2162</locationX>
        <locationY>4211</locationY>
        <actionName>Case.Two_days_milestone_Olga</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Tommy_Hilfiger</name>
        <label>Two days milestone Tommy Hilfiger</label>
        <locationX>50</locationX>
        <locationY>4211</locationY>
        <actionName>Case.Two_days_milestone_Tommy_Hilfiger</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_True_Co</name>
        <label>Two days milestone True&amp; Co</label>
        <locationX>1634</locationX>
        <locationY>4211</locationY>
        <actionName>Case.Two_days_milestone_True_Co</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_10_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Two_days_milestone_Warners</name>
        <label>Two days milestone Warners</label>
        <locationX>1106</locationX>
        <locationY>4211</locationY>
        <actionName>Case.Two_days_milestone_Warners</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_9_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Calvin_Queue</name>
        <label>Assign Calvin Queue</label>
        <locationX>1898</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>varQueueforRerouting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalvinWholesaleQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_for_Assignment_CK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_record_Id</name>
        <label>Assign Case record Id</label>
        <locationX>2118</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAll_Other_Case_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>2118</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Run Case Assignment Rules (Other Cases)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_for_Rerouting_CK</name>
        <label>Assign Queue for Rerouting_CK</label>
        <locationX>1898</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_CK.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Originating_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_CK.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Originating_Queue_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_CK.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCase_needs_Entitlement_inserted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_for_Rerouting_TH</name>
        <label>Assign Queue for Rerouting_TH</label>
        <locationX>1634</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_TH.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Originating_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_TH.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Originating_Queue_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment_TH.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCase_needs_Entitlement_inserted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tommy_Queue</name>
        <label>Assign Tommy Queue</label>
        <locationX>1634</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>varQueueforRerouting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TommyWholesaleQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_for_Assignment_TH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Fault_Section</name>
        <label>Copy 10 of Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone True&amp; Co</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Fault_Section</name>
        <label>Copy 11 of Assign Fault Section</label>
        <locationX>2426</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Olga</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Fault_Section</name>
        <label>Copy 12 of Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>5087</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three days milestone Tommy Hilfiger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_Fault_Section</name>
        <label>Copy 13 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>5087</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three days milestone Calvin klein</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_14_of_Assign_Fault_Section</name>
        <label>Copy 14 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>5087</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three days milestone Warner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_15_of_Assign_Fault_Section</name>
        <label>Copy 15 of Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>5087</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three days milestone True&amp; co</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_16_of_Assign_Fault_Section</name>
        <label>Copy 16 of Assign Fault Section</label>
        <locationX>2426</locationX>
        <locationY>5087</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three days milestone Olga</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_17_of_Assign_Fault_Section</name>
        <label>Copy 17 of Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Five days milestone Tommy Hilfiger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_18_of_Assign_Fault_Section</name>
        <label>Copy 18 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Five days milestone Calvin klein</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_19_of_Assign_Fault_Section</name>
        <label>Copy 19 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Five days milestone Warner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>798</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - FedEx Jonesville</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_20_of_Assign_Fault_Section</name>
        <label>Copy 20 of Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Five days milestone True&amp; co</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_21_of_Assign_Fault_Section</name>
        <label>Copy 21 of Assign Fault Section</label>
        <locationX>2426</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Five days milestone Olga</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_22_of_Assign_Fault_Section</name>
        <label>Copy 22 of Assign Fault Section</label>
        <locationX>2118</locationX>
        <locationY>6479</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Contact on Webform Submission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_23_of_Assign_Fault_Section</name>
        <label>Copy 23 of Assign Fault Section</label>
        <locationX>3878</locationX>
        <locationY>6899</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Case record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Section</name>
        <label>Copy 2 of Assign Fault Section</label>
        <locationX>1326</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - FedEx Bridgewater</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Fault_Section</name>
        <label>Copy 3 of Assign Fault Section</label>
        <locationX>1854</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - UPS - HR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Fault_Section</name>
        <label>Copy 4 of Assign Fault Section</label>
        <locationX>2382</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - UPS - CK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Fault_Section</name>
        <label>Copy 5 of Assign Fault Section</label>
        <locationX>2910</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - UPS - SP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Fault_Section</name>
        <label>Copy 6 of Assign Fault Section</label>
        <locationX>3438</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Tracking Record - UPS - TH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Fault_Section</name>
        <label>Copy 7 of Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Tommy Hilfiger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Fault_Section</name>
        <label>Copy 8 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Calvin klein</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Fault_Section</name>
        <label>Copy 9 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two days milestone Warners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Need to replace with name of Entitlement record, not hardcoded recordId</description>
        <name>Insert_Entitlement_Id</name>
        <label>Insert Entitlement Id</label>
        <locationX>1832</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCase_Eligible_for_7day_reminder_is_Reminder_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Run_Assignment_Rule</name>
        <label>Uncheck &#39;Run Assignment Rule&#39;</label>
        <locationX>1854</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Run_Assignment_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseAssignmentRule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Case_Assignment_Rules_Other_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_7day_reminder_to_Reminder_Ready</name>
        <label>Update 7day reminder to &#39;Reminder Ready&#39;</label>
        <locationX>1986</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Eligible_for_7day_reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder Ready</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCreate_Shipment_from_Tracking_Number</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CalvinWholesaleQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Calvin_Klein_Wholesale</stringValue>
        </value>
    </constants>
    <constants>
        <name>TommyWholesaleQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tommy_Hilfiger_Wholesale</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Runs Run_Assignment__Invocable_StandardAssignmentFutureV2 if Case is not assigned</description>
        <name>decAll_Other_Case_Assignment</name>
        <label>All Other Case Assignment</label>
        <locationX>2118</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>decStatus_changed_to_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resAll_Other_Case_Assignment</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Run_Assignment_Rule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Run_Assignment_Rule</targetReference>
            </connector>
            <label>All Other Case Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_Eligible_for_7day_reminder_is_Reminder_Ready</name>
        <label>Case &#39;Eligible for 7day reminder&#39; is &#39;Reminder Ready&#39;</label>
        <locationX>2118</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>decCreate_Shipment_from_Tracking_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resX7day_Reminder_is_Reminder_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligible_for_7day_reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reminder Schedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_7day_reminder_to_Reminder_Ready</targetReference>
            </connector>
            <label>7day Reminder is Reminder Ready</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a new Privacy Case does not have an entitlement, then update the Case to have a specific Entitlement</description>
        <name>decCase_needs_Entitlement_inserted</name>
        <label>Case needs Entitlement inserted?</label>
        <locationX>2118</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>decCase_Eligible_for_7day_reminder_is_Reminder_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_insert_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement</targetReference>
            </connector>
            <label>Yes, insert Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <description>When an agent adds a tracking number to a case, a shipment record is created</description>
        <name>decCreate_Shipment_from_Tracking_Number</name>
        <label>Create Shipment from Tracking Number</label>
        <locationX>2118</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>decX2_Day_Milestone_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resFedEx_Jonesville_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fedex Jonesville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_FedEx_Jonesville</targetReference>
            </connector>
            <label>FedEx Jonesville Shipment</label>
        </rules>
        <rules>
            <name>resFedEx_Bridgewater_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fedex Bridgewater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_FedEx_Bridgewater</targetReference>
            </connector>
            <label>FedEx Bridgewater Shipment</label>
        </rules>
        <rules>
            <name>resUPS_HR_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPS - HR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_UPS_HR</targetReference>
            </connector>
            <label>UPS - HR Shipment</label>
        </rules>
        <rules>
            <name>resUPS_CK_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPS - CK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_UPS_CK</targetReference>
            </connector>
            <label>UPS - CK Shipment</label>
        </rules>
        <rules>
            <name>resUPS_SP_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPS - SP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_UPS_SP</targetReference>
            </connector>
            <label>UPS - SP Shipment</label>
        </rules>
        <rules>
            <name>resUPS_TH_Shipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPS - TH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tracking_Record_UPS_TH</targetReference>
            </connector>
            <label>UPS - TH Shipment</label>
        </rules>
    </decisions>
    <decisions>
        <name>decEntitlement_found</name>
        <label>Entitlement found?</label>
        <locationX>1964</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>decCase_Eligible_for_7day_reminder_is_Reminder_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Entitlement_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Entitlement_Id</targetReference>
            </connector>
            <label>Yes, Entitlement found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Triggers the First_Contact_Resolution_Flow</description>
        <name>decStatus_changed_to_Resolved</name>
        <label>Status changed to Resolved</label>
        <locationX>2118</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Queue_for_Rerouting_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_changed_to_resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_FCR_Flow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, changed to resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>WHEN a Case is created via webform and the user is unknown
THEN update the Contact&#39;s First and Last Name to the Supplied first/last name</description>
        <name>decWebform_Case_missing_Contact</name>
        <label>Webform Case missing Contact?</label>
        <locationX>2118</locationX>
        <locationY>6239</locationY>
        <defaultConnector>
            <targetReference>Update_Case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_missing_contact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Web_Email_READONLY__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_on_Webform_Submission</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, missing contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends Email Alerts when specific Entitlement Milestones are violated.

This process will be used to send the brand specific email on milestone violation which is not possible using milestone violation action</description>
        <name>decX2_Day_Milestone_Violation</name>
        <label>2 Day Milestone Violation?</label>
        <locationX>2118</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_2_day_violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Milestone_Violated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Day (48 Hour Reply)-Email Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decX2_Day_Milestone_violation_brand_routing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, 2 day violation</label>
        </rules>
    </decisions>
    <decisions>
        <name>decX2_Day_Milestone_violation_brand_routing</name>
        <label>2 Day Milestone violation brand routing</label>
        <locationX>1370</locationX>
        <locationY>4091</locationY>
        <defaultConnector>
            <targetReference>decX3_Day_Milestone_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resX2_Days_for_TH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Tommy_Hilfiger</targetReference>
            </connector>
            <label>2 Days for TH</label>
        </rules>
        <rules>
            <name>resX2_Days_for_CK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Calvin_klein</targetReference>
            </connector>
            <label>2 Days for CK</label>
        </rules>
        <rules>
            <name>resX2_Days_for_WRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Warners</targetReference>
            </connector>
            <label>2 Days for WRE</label>
        </rules>
        <rules>
            <name>resX2_Days_for_TC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_True_Co</targetReference>
            </connector>
            <label>2 Days for TC</label>
        </rules>
        <rules>
            <name>resX2_Days_for_OL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_days_milestone_Olga</targetReference>
            </connector>
            <label>2 Days for OL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends Email Alerts when specific Entitlement Milestones are violated.

This process will be used to send the brand specific email on milestone violation which is not possible using milestone violation action</description>
        <name>decX3_Day_Milestone_Violation</name>
        <label>3 Day Milestone Violation?</label>
        <locationX>2118</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_3_day_violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Milestone_Violated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Day (72 Hour Reply)-Email Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decX3_Day_Milestone_violation_brand_routing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, 3 day violation</label>
        </rules>
    </decisions>
    <decisions>
        <name>decX3_Day_Milestone_violation_brand_routing</name>
        <label>3 Day Milestone violation brand routing</label>
        <locationX>1370</locationX>
        <locationY>4847</locationY>
        <defaultConnector>
            <targetReference>decX5_Day_Milestone_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resX3_Days_for_TH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_days_milestone_Tommy_Hilfiger</targetReference>
            </connector>
            <label>3 Days for TH</label>
        </rules>
        <rules>
            <name>resX3_Days_for_CK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_days_milestone_Calvin_klein</targetReference>
            </connector>
            <label>3 Days for CK</label>
        </rules>
        <rules>
            <name>resX3_Days_for_WRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_days_milestone_Warner</targetReference>
            </connector>
            <label>3 Days for WRE</label>
        </rules>
        <rules>
            <name>resX3_Days_for_TC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_days_milestone_True_co</targetReference>
            </connector>
            <label>3 Days for TC</label>
        </rules>
        <rules>
            <name>resX3_Days_for_OL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_days_milestone_Olga</targetReference>
            </connector>
            <label>3 Days for OL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends Email Alerts when specific Entitlement Milestones are violated.

This process will be used to send the brand specific email on milestone violation which is not possible using milestone violation action</description>
        <name>decX5_Day_Milestone_Violation</name>
        <label>5 Day Milestone Violation?</label>
        <locationX>2118</locationX>
        <locationY>5483</locationY>
        <defaultConnector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_5_day_violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Milestone_Violated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 Day (120 Hour Reply)-Email Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decX5_Day_Milestone_violation_brand_routing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, 5 day violation</label>
        </rules>
    </decisions>
    <decisions>
        <name>decX5_Day_Milestone_violation_brand_routing</name>
        <label>5 Day Milestone violation brand routing</label>
        <locationX>1370</locationX>
        <locationY>5603</locationY>
        <defaultConnector>
            <targetReference>decWebform_Case_missing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resX5_Days_for_TH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_days_milestone_Tommy_Hilfiger</targetReference>
            </connector>
            <label>5 Days for TH</label>
        </rules>
        <rules>
            <name>resX5_Days_for_CK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_days_milestone_Calvin_klein</targetReference>
            </connector>
            <label>5 Days for CK</label>
        </rules>
        <rules>
            <name>resX5_Days_for_WRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_days_milestone_Warner</targetReference>
            </connector>
            <label>5 Days for WRE</label>
        </rules>
        <rules>
            <name>resX5_Days_for_TC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_days_milestone_True_co</targetReference>
            </connector>
            <label>5 Days for TC</label>
        </rules>
        <rules>
            <name>resX5_Days_for_OL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_days_milestone_Olga</targetReference>
            </connector>
            <label>5 Days for OL</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Case has a Queue for Rerouting value populated, we grab the correct Queue record and insert it as the Case Owner AND the Originating Queue</description>
        <name>Queue_for_Rerouting_populated</name>
        <label>Queue for Rerouting populated?</label>
        <locationX>2118</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>decCase_needs_Entitlement_inserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Queue_for_Rerouting__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Queue_for_Rerouting__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Brand</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Brand</name>
        <label>Which Brand?</label>
        <locationX>1898</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>decCase_needs_Entitlement_inserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tommy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tommy_Queue</targetReference>
            </connector>
            <label>Tommy</label>
        </rules>
        <rules>
            <name>Calvin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Calvin_Queue</targetReference>
            </connector>
            <label>Calvin</label>
        </rules>
    </decisions>
    <description>NASSC-3379: Added Queue Rerouting Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>fCaseAssignmentRule</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Run_Assignment_Rule__c}=TRUE,FALSE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>1964</locationX>
        <locationY>2543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decEntitlement_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 Day (24 Hour Reply)-Email Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_for_Assignment_CK</name>
        <label>Get Queue for Assignment_CK</label>
        <locationX>1898</locationX>
        <locationY>1991</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_for_Rerouting_CK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueforRerouting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_for_Assignment_TH</name>
        <label>Get Queue for Assignment_TH</label>
        <locationX>1634</locationX>
        <locationY>1991</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_for_Rerouting_TH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueforRerouting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_record</name>
        <label>Update Case record</label>
        <locationX>2118</locationX>
        <locationY>6779</locationY>
        <faultConnector>
            <targetReference>Copy_23_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>varCaseToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_on_Webform_Submission</name>
        <label>Update Contact on Webform Submission</label>
        <locationX>1854</locationX>
        <locationY>6359</locationY>
        <connector>
            <targetReference>Update_Case_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_22_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Supplied_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Supplied_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Case_record_Id</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_subflow</name>
        <label>Run error handling subflow</label>
        <locationX>2118</locationX>
        <locationY>935</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Case: After Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Send to First_Contact_Resolution flow</description>
        <name>Send_to_FCR_Flow</name>
        <label>Send to FCR Flow</label>
        <locationX>1986</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Queue_for_Rerouting_populated</targetReference>
        </connector>
        <flowName>First_Contact_Resolution_Flow</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueforRerouting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
