unpackaged/main/default/flows/Case_Scenario_Delete_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_varCaseforUpdate_to_collection</name>
        <label>Add varCaseforUpdate to collection</label>
        <locationX>490</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>collvarCasesforUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseforUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cases_with_new_Scenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Case collection with new Scenario</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ids</name>
        <label>Assign ids</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varCaseforUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Cases_with_new_Scenario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseforUpdate.NFCaseScenario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupCaseScenario.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_varCaseforUpdate_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_number_of_Cases_with_Case_Scenario</name>
        <label>Assign number of Cases with Case Scenario</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varNumOfCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_AdditionalDetails_mdt_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>1106</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete Case Scenario</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>choice_NoContinueDeleting</name>
        <choiceText>No, continue with deleting the Case Scenario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_YesDeactivate</name>
        <choiceText>Yes, deactivate instead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No, cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decCases_to_update</name>
        <label>Cases to update?</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Delete_Case_Scenario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Cases_need_replacement_Scenario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cases_with_new_Scenario</targetReference>
            </connector>
            <label>Yes, Cases need replacement Scenario</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDelete_confirmed</name>
        <label>Delete confirmed?</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_delete_confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_delete_this_Case_Scenario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LookupCaseScenario.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCases_to_update</targetReference>
            </connector>
            <label>Yes, delete confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_AdditionalDetails_mdt_records</name>
        <label>Found AdditionalDetails.mdt records?</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>screenDeactivateOrDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_AddtlDetails_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Additional_Details_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Metadata_records</targetReference>
            </connector>
            <label>Found AddtlDetails records</label>
        </rules>
    </decisions>
    <description>Replaces the standard Delete button on the Case Scenario object</description>
    <environments>Default</environments>
    <interviewLabel>Case Scenario: Delete screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Scenario: Delete screen flow</label>
    <loops>
        <name>Update_Cases_with_new_Scenario</name>
        <label>Update Cases with new Scenario</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_collection_with_new_Scenario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Case_Scenario</name>
        <label>Delete Case Scenario</label>
        <locationX>666</locationX>
        <locationY>2294</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>Get_Case_Scenario</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Additional_Details_records</name>
        <label>Get Additional Details records</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Scenario.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Brand_Form_Additional_Details__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Scenario</name>
        <label>Get Case Scenario</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Additional_Details_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NF_Case_Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_number_of_Cases_with_Case_Scenario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NFCaseScenario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_collection_with_new_Scenario</name>
        <label>Update Case collection with new Scenario</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Delete_Case_Scenario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>collvarCasesforUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Found_Metadata_records</name>
        <label>Found Metadata records</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textDeletionImplications</name>
            <fieldText>&lt;p&gt;This Case Scenario is used in the following customer support webform values: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tableFoundMetadataRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Brand_Form_Additional_Details__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Additional_Details_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Value__c&quot;,&quot;guid&quot;:&quot;column-9828&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Case Scenario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Value&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-0591&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Additional Details webform label&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeveloperName&quot;,&quot;guid&quot;:&quot;column-dbfb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;DeveloperName &amp; Brand&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Custom Metadata Record Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>textPleaseContactEnggTeam</name>
            <fieldText>&lt;p&gt;Please email the PVH Engg team at &lt;a href=&quot;mailto:PVH_SC_Support@pvh.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;PVH_SC_Support@pvh.com&lt;/a&gt; to coordinate deleting this Case Scenario value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenDeactivateOrDelete</name>
        <label>screenDeactivateOrDelete</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenSafeToDelete</targetReference>
        </connector>
        <fields>
            <name>textWarning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;PLEASE NOTE: &lt;/strong&gt;Deleting this Case Scenario record involves updating {!varNumOfCases} Cases that are are related to it. Consider &lt;strong&gt;deactivating&lt;/strong&gt; the Case Scenario to preserve its relationships to existing Cases.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To &lt;strong&gt;deactivate&lt;/strong&gt; this Case Scenario, close this window and deselect the ACTIVE checkbox on the record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To &lt;strong&gt;delete&lt;/strong&gt; this Case Scenario, click Continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSafeToDelete</name>
        <label>screenSafeToDelete</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decDelete_confirmed</targetReference>
        </connector>
        <fields>
            <name>textNoAddtlDetailMdtsFound</name>
            <fieldText>&lt;p&gt;No customer support webform values are used with this Case Scenario, however {!varNumOfCases} Cases currently use this Case Scenario.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select another Case Scenario to associate to these existing {!varNumOfCases}  Cases.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varNumOfCases</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookupCaseScenario</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NFCaseScenario__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Scenario</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varNumOfCases</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_sure_you_want_to_delete_this_Case_Scenario</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to delete this Case Scenario?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Scenario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_subflow</name>
        <label>Run error handling subflow</label>
        <locationX>666</locationX>
        <locationY>1934</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Case Scenario: Delete screen flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collvarCasesforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varEditOrDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumOfCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
