unpackaged/main/default/flows/Case_Scenario_Edit_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_record_screen</name>
        <label>Refresh record screen</label>
        <locationX>616</locationX>
        <locationY>2126</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Additional_Details_CMDT_records</name>
        <label>Update Additional Details CMDT records</label>
        <locationX>352</locationX>
        <locationY>1910</locationY>
        <actionName>CustomMetadataSaver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refresh_record_screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__customMetadataRecords</typeName>
            <typeValue>Brand_Form_Additional_Details__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customMetadataRecords</name>
            <value>
                <elementReference>collvarAddtlDetailsMDTtoUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnError</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnSuccess</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_varCaseforUpdate_to_collection</name>
        <label>Add varCaseforUpdate to collection</label>
        <locationX>440</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>collvarAddtlDetailsMDTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAddtlDetailMDTtoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Addtl_Details_CMDT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ids</name>
        <label>Assign ids</label>
        <locationX>440</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Scenario_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddtlDetailMDTtoUpdate.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Addtl_Details_CMDT.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_varCaseforUpdate_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_number_of_Cases_with_Case_Scenario</name>
        <label>Assign number of Cases with Case Scenario</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varNumOfCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumofMDTvalues</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collvar_FoundAdditionalDetailsMDT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decFound_AdditionalDetails_mdt_records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_NoContinueDeleting</name>
        <choiceText>No, continue with deleting the Case Scenario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_YesDeactivate</name>
        <choiceText>Yes, deactivate instead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No, cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decFound_Additional_Details_cmdt</name>
        <label>Found Additional Details cmdt?</label>
        <locationX>616</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Refresh_record_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_cmdt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collvar_FoundAdditionalDetailsMDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Addtl_Details_CMDT</targetReference>
            </connector>
            <label>Yes, found cmdt</label>
        </rules>
        <rules>
            <name>Go_nowhere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_subflow</targetReference>
            </connector>
            <label>Go nowhere</label>
        </rules>
    </decisions>
    <decisions>
        <name>decFound_AdditionalDetails_mdt_records</name>
        <label>Found AdditionalDetails.mdt records?</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Found_Metadata_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resFound_AddtlDetails_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collvar_FoundAdditionalDetailsMDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Metadata_records</targetReference>
            </connector>
            <label>Found AddtlDetails records</label>
        </rules>
    </decisions>
    <decisions>
        <name>decScenario_name_validation</name>
        <label>Scenario name validation</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Create_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resName_too_long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fLengthChecker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Found_Metadata_records</targetReference>
            </connector>
            <label>Name too long</label>
        </rules>
        <rules>
            <name>resName_missing_colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fColonChecker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Found_Metadata_records</targetReference>
            </connector>
            <label>Name missing colon</label>
        </rules>
    </decisions>
    <description>Replaces the standard Edit button on Case Scenario
Nishant (02/13/2022): Added developername to list of fields</description>
    <environments>Default</environments>
    <formulas>
        <name>fColonChecker</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!New_Scenario_Name},&quot;:&quot;),TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>fLengthChecker</name>
        <dataType>Boolean</dataType>
        <expression>IF( LEN({!New_Scenario_Name}) &lt;= 80, true, false)</expression>
    </formulas>
    <formulas>
        <name>fScenarioName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!New_Scenario_Name}), &#39;&#39;,{!New_Scenario_Name})</expression>
    </formulas>
    <formulas>
        <name>fScenarioValidationRuleBypass</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Case_Scenario.ValidationRuleBypass__c}</expression>
    </formulas>
    <interviewLabel>Case Scenario: Edit screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Scenario: Edit screen flow</label>
    <loops>
        <name>Loop_Addtl_Details_CMDT</name>
        <label>Loop Addtl Details CMDT</label>
        <locationX>352</locationX>
        <locationY>1454</locationY>
        <collectionReference>collvar_FoundAdditionalDetailsMDT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Additional_Details_CMDT_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>616</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>decFound_Additional_Details_cmdt</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassToggle__c</field>
            <value>
                <elementReference>Get_Case_Scenario.ValidationRuleBypass__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagetoUpdate__c</field>
            <value>
                <elementReference>New_Scenario_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordtoupdateId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Brand_Form_CMDT_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Additional_Details_records</name>
        <label>Get Additional Details records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Scenario.Name</elementReference>
            </value>
        </filters>
        <object>Brand_Form_Additional_Details__mdt</object>
        <outputReference>collvar_FoundAdditionalDetailsMDT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Brand_Channel__c</queriedFields>
        <queriedFields>Help_Topics__c</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Scenario</name>
        <label>Get Case Scenario</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Additional_Details_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NF_Case_Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_number_of_Cases_with_Case_Scenario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NFCaseScenario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Found_Metadata_records</name>
        <label>Found Metadata records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decScenario_name_validation</targetReference>
        </connector>
        <fields>
            <name>ScreenEdit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Edit Case Scenario Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textFoundMetadataRecords</name>
            <fieldText>&lt;p&gt;This Case Scenario is used in the following {!varNumofMDTvalues} customer support webform values:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resFound_AddtlDetails_records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>customdatatableCMDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Brand_Form_Additional_Details__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:customMetadataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>collvar_FoundAdditionalDetailsMDT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableEditing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplay</name>
                <value>
                    <stringValue>Value__c, Label__c, QualifiedApiName</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resFound_AddtlDetails_records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;Updating this Scenario will also automatically update the webform values to preserve the mapping.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resFound_AddtlDetails_records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textNoMetadataFound</name>
            <fieldText>&lt;p&gt;This Scenario is not used in any customer support webform values and is safe to edit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resFound_AddtlDetails_records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textCurrentScenarioName</name>
            <fieldText>&lt;p&gt;What would you like to update the name to?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Scenario Name: &lt;/strong&gt;{!Get_Case_Scenario.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMissingColon</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Scenario Name must contain a colon.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resName_missing_colon</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorLengthTooLong</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Scenario Name length must be 80 characters or shorter.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resName_too_long</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Scenario_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fScenarioName</elementReference>
            </defaultValue>
            <fieldText>New Scenario Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Scenario Name should be &lt;em&gt;Scenario Category: Scenario. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Example:&lt;/strong&gt; &lt;i&gt;Orders: Requesting to Cancel&lt;/i&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInitial</name>
        <label>ScreenInitial</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Scenario</targetReference>
        </connector>
        <fields>
            <name>textClickEdit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Click the [Edit] button below to change the name of this Case Scenario.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you just edited this Scenario&#39;s name, you may need to refresh your browser&#39;s page if it did not refresh the name automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenInitial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_subflow</name>
        <label>Run subflow</label>
        <locationX>616</locationX>
        <locationY>1454</locationY>
        <flowName>Case_Scenario_Subflow_to_update_Addtl_Details_CMDT</flowName>
        <inputAssignments>
            <name>collvar_FoundAdditionalDetailsMDT</name>
            <value>
                <elementReference>collvar_FoundAdditionalDetailsMDT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewScenarioName</name>
            <value>
                <elementReference>New_Scenario_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>case_scenario_developer_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collvar_FoundAdditionalDetailsMDT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>collvarAddtlDetailsMDTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>collvarCasesforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddtlDetailMDTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Form_Additional_Details__mdt</objectType>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumOfCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumofMDTvalues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
