unpackaged/main/default/flows/Changing_Case_Owner_to_Last_Modified_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Status is Not New and Not Open and Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].LastModifiedById </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0733557496</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.LastModifiedById}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()), [Case].RecordType.DeveloperName = &#39;Support_Case&#39;, NOT(ISPICKVAL([Case].Status, &quot;New&quot;)),NOT(ISPICKVAL([Case].Resolution_Code__c, &quot;Rejected Request&quot;)), NOT(ISPICKVAL([Case].Status, &quot;Open&quot;)), AND(BEGINS ([Case].OwnerId, &quot;00G&quot;),[Case].OwnerId &lt;&gt; &quot;00G1U000000tTWCUA2&quot;))
 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()), {!myVariable_current.RecordType.DeveloperName} = &#39;Support_Case&#39;, NOT(ISPICKVAL({!myVariable_current.Status}, &quot;New&quot;)),NOT(ISPICKVAL({!myVariable_current.Resolution_Code__c}, &quot;Rejected Request&quot;)), NOT(ISPICKVAL({!myVariable_current.Status}, &quot;Open&quot;)), AND(BEGINS ({!myVariable_current.OwnerId}, &quot;00G&quot;),{!myVariable_current.OwnerId} &lt;&gt; &quot;00G1U000000tTWCUA2&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()), [Case].RecordType.DeveloperName = &#39;Support_Case&#39;, NOT(ISPICKVAL([Case].Status, &quot;New&quot;)),NOT(ISPICKVAL([Case].Resolution_Code__c, &quot;Rejected Request&quot;)), NOT(ISPICKVAL([Case].Status, &quot;Open&quot;)), AND(BEGINS ([Case].OwnerId, &quot;00G&quot;),[Case].OwnerId &lt;&gt; &quot;00G1U000000tTWCUA2&quot;))
 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()), {!myVariable_old.RecordType.DeveloperName} = &#39;Support_Case&#39;, NOT(ISPICKVAL({!myVariable_old.Status}, &quot;New&quot;)),NOT(ISPICKVAL({!myVariable_old.Resolution_Code__c}, &quot;Rejected Request&quot;)), NOT(ISPICKVAL({!myVariable_old.Status}, &quot;Open&quot;)), AND(BEGINS ({!myVariable_old.OwnerId}, &quot;00G&quot;),{!myVariable_old.OwnerId} &lt;&gt; &quot;00G1U000000tTWCUA2&quot;))</expression>
    </formulas>
    <interviewLabel>Changing_Case_Owner_to_Last_Modified_User-6_InterviewLabel</interviewLabel>
    <label>Changing Case Owner to Last Modified User</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Owner to Last Modified User</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0733557496</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
