unpackaged/main/default/flows/Contact_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>If Contact&#39;s CreatedByMethod field = null, then set field to &#39;UI&#39;</description>
        <name>Contact_Method_is_null</name>
        <label>Contact Method is null?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>decTo_Update_Brand_Name_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Method_isnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedByMethod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Created_By_Method_to_UI</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes Contact Method isnull</label>
        </rules>
    </decisions>
    <decisions>
        <description>To Update Brand Name in Contact Record

WHEN Contact&#39;s Brand field is not blank
THEN set the name of the brand to the Brand field</description>
        <name>decTo_Update_Brand_Name_Field</name>
        <label>To Update Brand Name Field?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_update_Brand_Name_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Update_Brand_name</targetReference>
            </connector>
            <label>Yes, update Brand Name field</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fBrandIdName</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Brand_Id__c}), 
    &quot;1&quot;, &quot;Tommy Hilfiger&quot;, 
    &quot;2&quot;, &quot;Calvin Klein&quot;, 
    &quot;4&quot;, &quot;IZOD&quot;, 
    &quot;5&quot;, &quot;Van Heusen&quot;, 
    &quot;7&quot;, &quot;Speedo USA&quot;, 
    &quot;8&quot;, &quot;Heritage Ecom&quot;, 
    &quot;9&quot;, &quot;Partner Brands &quot;, 
    &quot;81&quot;, &quot;IZOD.com&quot;, 
    &quot;82&quot;, &quot;Van Heusen.com (VHE)&quot;, 
    &quot;83&quot;, &quot;Warner&quot;, 
    &quot;84&quot;, &quot;Style Bureau&quot;, 
    &quot;11&quot;, &quot;True&amp;Co&quot;, 
    &quot;10&quot;, &quot;Olga&quot;, 
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact: Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Created_By_Method_to_UI</name>
        <label>Set &#39;Created By Method&#39; to UI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>decTo_Update_Brand_Name_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>CreatedByMethod__c</field>
            <value>
                <stringValue>&#39;UI&#39;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_Update_Brand_name</name>
        <label>To Update Brand name</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>fBrandIdName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Method_is_null</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
