unpackaged/main/default/flows/Contact_SMS_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChargeIt_Optin_Invocable</name>
        <label>ChargeIt Optin Invocable</label>
        <locationX>182</locationX>
        <locationY>1752</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>on_SMS_Optout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>chargeIt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eComm_Opt_Out_for_Prior_SMSNumber</name>
        <label>eComm Opt Out for Prior SMSNumber</label>
        <locationX>182</locationX>
        <locationY>1416</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>on_SMS_Optin_by_ChargeIt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>stop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record__Prior.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eComm_Optin_Invokable_Method</name>
        <label>eComm Optin Invokable Method</label>
        <locationX>182</locationX>
        <locationY>1080</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>on_SMS_Optin_by_eComm_Part_B</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>&#39;preferenceCenter&#39;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Optout_Invokable_Method</name>
        <label>Optout Invokable Method</label>
        <locationX>182</locationX>
        <locationY>2088</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Unsubscribe_Reason</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>stop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>on_SMS_Optin_by_ChargeIt</name>
        <label>on SMS Optin by ChargeIt</label>
        <locationX>314</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>on_SMS_Optout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_SMS_Optin_by_ChargeIt_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChargeItSpot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChargeIt_Optin_Invocable</targetReference>
            </connector>
            <label>on SMS Optin by ChargeIt True</label>
        </rules>
    </decisions>
    <decisions>
        <name>on_SMS_Optin_by_eComm_Part_B</name>
        <label>on SMS Optin by eComm Part B</label>
        <locationX>314</locationX>
        <locationY>1296</locationY>
        <defaultConnector>
            <targetReference>on_SMS_Optin_by_ChargeIt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_SMS_Optin_by_eComm_Part_B_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eComm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SMSNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eComm_Opt_Out_for_Prior_SMSNumber</targetReference>
            </connector>
            <label>on SMS Optin by eComm Part B True</label>
        </rules>
    </decisions>
    <decisions>
        <name>on_SMS_Optout</name>
        <label>on SMS Optout</label>
        <locationX>314</locationX>
        <locationY>1968</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_SMS_Optout_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optout_Invokable_Method</targetReference>
            </connector>
            <label>on SMS Optout True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out_by_CSR</name>
        <label>SMS Opt Out by CSR</label>
        <locationX>314</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>SMS_Status_Update_Callouts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSR_Opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptOut_Customer_from_SMS</targetReference>
            </connector>
            <label>CSR Opted out</label>
        </rules>
        <rules>
            <name>Existing_Record_with_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reverting_SMS_OptOut</targetReference>
            </connector>
            <label>Existing Record with P</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_OptOut_Update</name>
        <label>SMS OptOut Update</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>SMS_Opt_Out_by_CSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Optin_changed_to_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_SMS_Optout_to_FALSE</targetReference>
            </connector>
            <label>SMS Optin changed to Y</label>
        </rules>
        <rules>
            <name>SMS_Optin_Changed_to_N</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SMS_OptOut_to_TRUE</targetReference>
            </connector>
            <label>SMS Optin Changed to N</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Status_P_to_N_after_7_Days</name>
        <label>SMS Status P to N after 7 Days</label>
        <locationX>886</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Status_Pending_even_after_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SMS_status_to_N</targetReference>
            </connector>
            <label>SMS Status &#39;Pending&#39; even after 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Status_Update_Callouts</name>
        <label>SMS Status Update Callouts</label>
        <locationX>314</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>on_SMS_Optin_by_eComm_Part_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_SMS_Optin_by_eComm_Part_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ecomm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptInDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eComm_Optin_Invokable_Method</targetReference>
            </connector>
            <label>on SMS Optin by eComm Part A</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BrandName</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Brand_Id__c}), &quot;1&quot;, &quot;Tommy Hilfiger&quot;, &quot;2&quot;, &quot;Calvin Klein&quot;,&quot;4&quot;, &quot;IZOD&quot;,&quot;5&quot;, &quot;Van Heusen&quot;,&quot;7&quot;, &quot;Speedo USA&quot;,&quot;8&quot;, &quot;Heritage Ecom&quot;,&quot;9&quot;, &quot;Partner Brands&quot;,&quot;81&quot;, &quot;IZOD.com&quot;,&quot;82&quot;, &quot;Van Heusen.com (VHE)&quot;,&quot;83&quot;, &quot;Warner&quot;,&quot;84&quot;, &quot;Style Bureau&quot;,&quot;11&quot;, &quot;True&amp;Co&quot;,&quot;10&quot;, &quot;Olga&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact SMS flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact SMS flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OptOut_Customer_from_SMS</name>
        <label>OptOut Customer from SMS</label>
        <locationX>50</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>SMS_Status_Update_Callouts</targetReference>
        </connector>
        <inputAssignments>
            <field>SMSOptOutDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMSOptinStatus__c</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>CSR Opted Out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reverting_SMS_OptOut</name>
        <label>Reverting SMS OptOut</label>
        <locationX>314</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>SMS_Status_Update_Callouts</targetReference>
        </connector>
        <inputAssignments>
            <field>SMS_OptOut__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SMS_Unsubscribe_Reason</name>
        <label>SMS Unsubscribe Reason</label>
        <locationX>182</locationX>
        <locationY>2208</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SMS_Unsubscribe_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>Keyword Opt-Out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_OptOut_to_TRUE</name>
        <label>Update SMS OptOut to TRUE</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>SMS_Opt_Out_by_CSR</targetReference>
        </connector>
        <inputAssignments>
            <field>SMS_OptOut__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_status_to_N</name>
        <label>Update SMS status to N</label>
        <locationX>754</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>SMSOptOutDate__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMSOptinStatus__c</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>No Response Optout</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_SMS_Optout_to_FALSE</name>
        <label>Updating SMS Optout to False</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>SMS_Opt_Out_by_CSR</targetReference>
        </connector>
        <inputAssignments>
            <field>SMS_OptOut__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_OptOut_Update</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X7_Days_after_SMS_Optin_Date</name>
            <connector>
                <targetReference>SMS_Status_P_to_N_after_7_Days</targetReference>
            </connector>
            <label>7 Days after SMS Optin Date</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SMSOptInDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DummyVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
