unpackaged/main/default/flows/Contact_SMS_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>SMS_Opt_Out_by_CSR</name>
        <label>SMS Opt Out by CSR</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSR_Opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptOut_Customer_from_SMS</targetReference>
            </connector>
            <label>CSR Opted out</label>
        </rules>
        <rules>
            <name>Existing_Record_with_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_OptOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reverting_SMS_OptOut</targetReference>
            </connector>
            <label>Existing Record with P</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BrandName</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Brand_Id__c}), &quot;1&quot;, &quot;Tommy Hilfiger&quot;, &quot;2&quot;, &quot;Calvin Klein&quot;,&quot;4&quot;, &quot;IZOD&quot;,&quot;5&quot;, &quot;Van Heusen&quot;,&quot;7&quot;, &quot;Speedo USA&quot;,&quot;8&quot;, &quot;Heritage Ecom&quot;,&quot;9&quot;, &quot;Partner Brands&quot;,&quot;81&quot;, &quot;IZOD.com&quot;,&quot;82&quot;, &quot;Van Heusen.com (VHE)&quot;,&quot;83&quot;, &quot;Warner&quot;,&quot;84&quot;, &quot;Style Bureau&quot;,&quot;11&quot;, &quot;True&amp;Co&quot;,&quot;10&quot;, &quot;Olga&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact SMS flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact CSR SMS Optout flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OptOut_Customer_from_SMS</name>
        <label>OptOut Customer from SMS</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>SMSOptOutDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMSOptinStatus__c</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>CSR Opted Out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reverting_SMS_OptOut</name>
        <label>Reverting SMS OptOut</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>SMS_OptOut__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_Opt_Out_by_CSR</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DummyVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
