unpackaged/main/default/flows/Contact_After_Save_EmailChange_by_CSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendMailOldMail</name>
        <label>SendMailOldMail</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>mailChangeRequest</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cse</name>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UpdateCaseFields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SendMailOldMail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Section</name>
        <label>Copy 2 of Assign Fault Section</label>
        <locationX>2162</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CSR Trigger PB flag</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Fault_Section</name>
        <label>Copy 3 of Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to Update in Mail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Fault_Section</name>
        <label>Copy 4 of Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No User Intervention</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Fault_Section</name>
        <label>Copy 5 of Assign Fault Section</label>
        <locationX>2426</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UpdateBackCase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Fault_Section</name>
        <label>Copy 6 of Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>getCase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Fault_Section</name>
        <label>Copy 7 of Assign Fault Section</label>
        <locationX>2954</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get original Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Fault_Section</name>
        <label>Copy 8 of Assign Fault Section</label>
        <locationX>2690</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get original Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decUpdating_Email_Reason_Code_in_Contact</name>
        <label>Updating Email Reason Code in Contact?</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>No_User_Intervention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Intervention</defaultConnectorLabel>
        <rules>
            <name>resEmail_update_failed_after_User_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_original_Case.Privacy_User_Confirmed_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TriggerCSREmailFlow__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_Update_in_Mail</targetReference>
            </connector>
            <label>Email update failed after User Confirmed</label>
        </rules>
    </decisions>
    <description>WHEN CSR PB check = True on Contact
THEN run the EmailChangebyCSR flow
AND reset CSR PB check field on Contact</description>
    <environments>Default</environments>
    <interviewLabel>Contact: After Save, EmailChange by CSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: After Save, EmailChange by CSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_original_Case</name>
        <label>Get original Case</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decUpdating_Email_Reason_Code_in_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_original_Contact</name>
        <label>Get original Contact</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_original_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CSR_Trigger_PB_flag</name>
        <label>CSR Trigger PB flag</label>
        <locationX>1370</locationX>
        <locationY>1188</locationY>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CSR_Trigger_PB__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>No_User_Intervention</name>
        <label>No User Intervention</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>UpdateBackCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.TriggerCSREmailFlow__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address_Reason_Code__c</field>
            <value>
                <stringValue>Verification Failure : No Customer&#39;s response</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unable_to_Update_in_Mail</name>
        <label>Unable to Update in Mail</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>UpdateBackCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.TriggerCSREmailFlow__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address_Reason_Code__c</field>
            <value>
                <stringValue>Verification Success : Unable to Update in SC</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBackCase</name>
        <label>UpdateBackCase</label>
        <locationX>1370</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>CSR_Trigger_PB_flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSRMailUpdateonContact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSRmail__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseFields</name>
        <label>UpdateCaseFields</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>SendMailOldMail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSRMailUpdateonContact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSR_Email_UserConfirmation__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSRmail__c</field>
            <value>
                <elementReference>$Record.TriggerCSREmailFlow__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSR_Trigger_PB__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Waiting_for_User_Input_or_24_hours_time</name>
            <connector>
                <targetReference>Get_original_Contact</targetReference>
            </connector>
            <label>Waiting for User Input or 24 hours time</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_subflow</name>
        <label>Run error handling subflow</label>
        <locationX>2426</locationX>
        <locationY>1308</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Contact: After Save, EmailChange by CSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
