unpackaged/main/default/flows/Contact_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChargeIt_Optin_Invocable</name>
        <label>ChargeIt Optin Invocable</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decOn_SMS_Optout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section_4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>chargeIt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record__Prior.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eComm_Opt_Out_for_Prior_SMSNumber</name>
        <label>eComm Opt Out for Prior SMSNumber</label>
        <locationX>314</locationX>
        <locationY>1715</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IseCommSMS_Update_PartB</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section_3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>stop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record__Prior.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eComm_Optin_Invokable_Method</name>
        <label>eComm Optin Invokable Method</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IseCommSMS_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>preferenceCenter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocable_LogSignUpActivity</name>
        <label>Invocable LogSignUpActivity</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>LogSignupActivities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decOn_SMS_Optin_by_eComm_Part_A</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataSource</name>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventDate</name>
            <value>
                <elementReference>$Record.EventDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loyaltyId</name>
            <value>
                <elementReference>$Record.LoyaltyID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StoreCode</name>
            <value>
                <elementReference>$Record.StoreOfCapture__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Optout_Invokable_Method</name>
        <label>Optout Invokable Method</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Unsubscribe_Reason</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Section_5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>stop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record__Prior.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>THinvocable_QueueMOAPI</name>
        <label>invocable QueueMOAPI</label>
        <locationX>842</locationX>
        <locationY>2795</locationY>
        <actionName>SFMCUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>THSMS_Unsubscribe_Reason</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandId</name>
            <value>
                <elementReference>$Record.Brand_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.CountryOfCapture__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeywordType</name>
            <value>
                <stringValue>stop</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSLocale</name>
            <value>
                <elementReference>$Record.SMSLocale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SmsNumber</name>
            <value>
                <elementReference>$Record.SMSNumber__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISNEW or Source is updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section_2</name>
        <label>Assign Fault Section 2</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eComm Optin Invokable Method</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section_3</name>
        <label>Assign Fault Section 3</label>
        <locationX>578</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eComm Opt Out for Prior SMSNumber</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section_4</name>
        <label>Assign Fault Section 4</label>
        <locationX>578</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ChargeIt Optin Invocable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section_5</name>
        <label>Assign Fault Section 5</label>
        <locationX>578</locationX>
        <locationY>2915</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Optout Invokable Method</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section_6</name>
        <label>Assign Fault Section 6</label>
        <locationX>314</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS Unsubscribe Reason</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Contact is new, Latest Source is not blank and is not &quot;POS&quot; 
OR if Contact&#39;s Source is changed and Latest Source is not blank and is not &quot;POS&quot;, 
then invoke LogSignUpActivitiy apex class</description>
        <name>dec_ISNEW_or_Source_is_updated</name>
        <label>ISNEW or Source is updated</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>decOn_SMS_Optin_by_eComm_Part_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>result_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invocable_LogSignUpActivity</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>res_Source_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Invocable_LogSignUpActivity</targetReference>
            </connector>
            <label>Source is updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ths Process to make Callouts to both SFMC and Waterfall

WHEN a Contact opts in/out of SMS
THEN make call to appropriate apex class</description>
        <name>decOn_SMS_Optin_by_ChargeIt</name>
        <label>On SMS Optin by ChargeIt?</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>decOn_SMS_Optout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_SMS_Optin_by_ChargeIt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChargeItSpot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChargeIt_Optin_Invocable</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, SMS Optin by ChargeIt</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ths Process to make Callouts to both SFMC and Waterfall

WHEN a Contact opts in/out of SMS
THEN make call to appropriate apex class</description>
        <name>decOn_SMS_Optin_by_eComm_Part_A</name>
        <label>On SMS Optin by eComm Part A?</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>decOn_SMS_Optin_by_eComm_Part_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_eComm_Part_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eComm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IseCommSMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eComm_Optin_Invokable_Method</targetReference>
            </connector>
            <label>Yes, eComm Part A</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ths Process to make Callouts to both SFMC and Waterfall

WHEN a Contact opts in/out of SMS
THEN make call to appropriate apex class</description>
        <name>decOn_SMS_Optin_by_eComm_Part_B</name>
        <label>On SMS Optin by eComm Part B</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>decOn_SMS_Optin_by_ChargeIt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_eComm_Part_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eComm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SMSNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SMSNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IseCommSMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eComm_Opt_Out_for_Prior_SMSNumber</targetReference>
            </connector>
            <label>Yes, eComm Part B</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ths Process to make Callouts to both SFMC and Waterfall

WHEN a Contact opts in/out of SMS
THEN make call to appropriate apex class</description>
        <name>decOn_SMS_Optout</name>
        <label>On SMS Optout</label>
        <locationX>578</locationX>
        <locationY>2675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_SMS_Optout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optout_Invokable_Method</targetReference>
            </connector>
            <label>CK Yes, SMS Optout</label>
        </rules>
        <rules>
            <name>TH_Yes_SMS_Optout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSOptinStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMSNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IseCommSMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>THinvocable_QueueMOAPI</targetReference>
            </connector>
            <label>TH Yes, SMS Optout</label>
        </rules>
    </decisions>
    <description>If (Contact is new, Latest Source is not blank and is not &quot;POS&quot;) 
OR if (Contact&#39;s Source is changed and Latest Source is not blank and is not &quot;POS&quot;), 
THEN invoke LogSignUpActivitiy apex class</description>
    <environments>Default</environments>
    <formulas>
        <name>fIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contact: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IseCommSMS_Update</name>
        <label>IseCommSMS Update</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>decOn_SMS_Optin_by_eComm_Part_B</targetReference>
        </connector>
        <inputAssignments>
            <field>IseCommSMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IseCommSMS_Update_PartB</name>
        <label>IseCommSMS Update</label>
        <locationX>314</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>decOn_SMS_Optin_by_ChargeIt</targetReference>
        </connector>
        <inputAssignments>
            <field>IseCommSMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SMS_Unsubscribe_Reason</name>
        <label>SMS Unsubscribe Reason</label>
        <locationX>50</locationX>
        <locationY>2915</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Section_6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SMS_Unsubscribe_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>Keyword Opt-out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>THSMS_Unsubscribe_Reason</name>
        <label>SMS Unsubscribe Reason,IseCommSMS</label>
        <locationX>842</locationX>
        <locationY>2915</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SMS_Unsubscribe_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IseCommSMS__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Unsubscribe_Reason__c</field>
            <value>
                <stringValue>Keyword Opt-out</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_ISNEW_or_Source_is_updated</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Run_error_handling_flow</name>
        <label>Run error handling flow</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Contact: After Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
