unpackaged/main/default/flows/csat_8135ba62_33eb_4da6_9511_529f302bac06.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_10132df9_d49f_4497_9b9c_7cce77b5d70e</name>
        <choiceText>Agent Attitude</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Attitude</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_32f94514_c002_4b32_b765_39617ee3cab0</name>
        <choiceText>Took too long to resolve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Took too long to resolve</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_34fcaedf_7961_40b7_8d5f_ffbdcb1088de</name>
        <choiceText>Agent Experience</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Experience</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4692039c_6713_443d_b6b9_9b8ffc383fbd</name>
        <choiceText>Agent Timeliness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Timeliness</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5225142a_2f75_4ede_8818_954ed1a9ae0e</name>
        <choiceText>Resolution Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolution Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58667a32_e59c_4b79_ae7b_cbb8aa66c1cf</name>
        <choiceText>Agent Attitude</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Attitude</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_596fd070_6c5f_414c_8f36_09eea1b5dae3</name>
        <choiceText>Agent Professionalism</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Professionalism</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_601e319b_8ce8_4d75_9c51_27efb2e52556</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6ad76e43_90f8_46c7_abf7_a5160c8e85de</name>
        <choiceText>Issue never resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue never resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7db2becf_eb74_4dd6_9005_b288e3fc1991</name>
        <choiceText>Agent Expertise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Expertise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7e0040e3_f44f_4ae2_9bf8_d164513286fd</name>
        <choiceText>Issue with Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue with Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9114cef2_19cf_47b1_ae05_3b60b4d8b355</name>
        <choiceText>Company Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c9df8fe_cdd6_4ecc_9795_4688789333cd</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa8e4863_ef8c_46e3_9019_cd619304893d</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b38f80d3_cc6a_41a8_8fa7_5eeb85ac6190</name>
        <choiceText>Agent Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c16eb8da_3d6f_448f_8954_6b0d33723d00</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d000a5af_bd6f_4c3e_bf8f_8d45d1e37a2d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d2f8911f_63fe_4b7d_8325_9270fd90f116</name>
        <choiceText>Issue with Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue with Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d395e064_9212_4c26_9cf9_08766d5c9cfd</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ff03be2e_c0f1_4bf1_bea0_1a09b1d5b1c7</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultPageNav</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>d_05e90b4b_46e5_48a5_ac47_6342968c73dd</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_2e99cee1_7245_4e70_9246_2afb18739c5e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_27da46c2_2a18_4f37_a217_cce22b64d659</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Rating</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a13633b2_74a0_4d48_9b5e_4587166bbbec</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>c_d000a5af_bd6f_4c3e_bf8f_8d45d1e37a2d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_2e99cee1_7245_4e70_9246_2afb18739c5e</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_a8ab79b5_f265_4981_a3c7_5f22a4b2159d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Rating</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a13633b2_74a0_4d48_9b5e_4587166bbbec</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>c_d000a5af_bd6f_4c3e_bf8f_8d45d1e37a2d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a8c99296_480f_41f5_8594_7e5a5746b488</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_1fd4c803_e137_4728_a1b1_bc58f7f2a0c0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Rating</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a13633b2_74a0_4d48_9b5e_4587166bbbec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d000a5af_bd6f_4c3e_bf8f_8d45d1e37a2d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_786e66cd_7e9a_4abd_b056_c43142ec403d</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_8edb1099_14d5_4910_b895_2f36bb09df74</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_a8c99296_480f_41f5_8594_7e5a5746b488</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_f1b77d6e_3c12_4059_8587_40252ad0cca5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_77750ba3_0d31_4d65_a271_971e83449c93</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_7e0040e3_f44f_4ae2_9bf8_d164513286fd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_0fe3e532_4bc2_4f55_83ef_52ce2f4ff79a</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_756e9bb7_1879_46e5_9ac9_d7d7b9d6de9d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_77750ba3_0d31_4d65_a271_971e83449c93</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_7e0040e3_f44f_4ae2_9bf8_d164513286fd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_786e66cd_7e9a_4abd_b056_c43142ec403d</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_ca351fd8_cd2c_473c_87ac_49f3f7d9e350</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_786e66cd_7e9a_4abd_b056_c43142ec403d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_dd86db1c_ffd5_4a39_bd9e_1d4e8abeabbe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b2f23197_3adf_4ca8_a8a6_7147638872b7</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_34fcaedf_7961_40b7_8d5f_ffbdcb1088de</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_3b6b33e2_68b1_4c42_8262_cf1a49712fed</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_44106c07_faf2_49ef_b613_31f07735f768</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_b2f23197_3adf_4ca8_a8a6_7147638872b7</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_34fcaedf_7961_40b7_8d5f_ffbdcb1088de</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_c23ea25a_1c2d_4d9d_8a36_0b0b89269662</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_0fe3e532_4bc2_4f55_83ef_52ce2f4ff79a</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_3b6b33e2_68b1_4c42_8262_cf1a49712fed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_532c0342_5566_47ca_96b6_afde1ccd1a24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_786e66cd_7e9a_4abd_b056_c43142ec403d</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_786e66cd_7e9a_4abd_b056_c43142ec403d</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_0fe3e532_4bc2_4f55_83ef_52ce2f4ff79a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_4b4681ce_da6b_4dd0_89f8_7e855776d0c2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>CSAT</interviewLabel>
    <label>CSAT</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_csat_8135ba62_33eb_4da6_9511_5_9b95faef_41ce_4c91_a4fc_338b35bd70c7</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0fe3e532_4bc2_4f55_83ef_52ce2f4ff79a</name>
        <label>Bad Agent Experience</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_0fe3e532_4bc2_4f55_83ef_52ce2f4ff79a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_201ff7a6_d545_4998_851c_985fe6a78d52</name>
            <choiceReferences>c_b38f80d3_cc6a_41a8_8fa7_5eeb85ac6190</choiceReferences>
            <choiceReferences>c_58667a32_e59c_4b79_ae7b_cbb8aa66c1cf</choiceReferences>
            <choiceReferences>c_32f94514_c002_4b32_b765_39617ee3cab0</choiceReferences>
            <choiceReferences>c_6ad76e43_90f8_46c7_abf7_a5160c8e85de</choiceReferences>
            <choiceReferences>c_ff03be2e_c0f1_4bf1_bea0_1a09b1d5b1c7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What was bad about your experience with the agent?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select all that apply</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2e99cee1_7245_4e70_9246_2afb18739c5e</name>
        <label>Overall Bad Experience</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_8edb1099_14d5_4910_b895_2f36bb09df74</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_77750ba3_0d31_4d65_a271_971e83449c93</name>
            <choiceReferences>c_d2f8911f_63fe_4b7d_8325_9270fd90f116</choiceReferences>
            <choiceReferences>c_7e0040e3_f44f_4ae2_9bf8_d164513286fd</choiceReferences>
            <choiceReferences>c_9c9df8fe_cdd6_4ecc_9795_4688789333cd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What was bad about your experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select all that apply</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_3b6b33e2_68b1_4c42_8262_cf1a49712fed</name>
        <label>Good Agent Experience</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c23ea25a_1c2d_4d9d_8a36_0b0b89269662</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_26d10836_22c8_46da_84f8_3a53bb1d5e34</name>
            <choiceReferences>c_7db2becf_eb74_4dd6_9005_b288e3fc1991</choiceReferences>
            <choiceReferences>c_10132df9_d49f_4497_9b9c_7cce77b5d70e</choiceReferences>
            <choiceReferences>c_4692039c_6713_443d_b6b9_9b8ffc383fbd</choiceReferences>
            <choiceReferences>c_596fd070_6c5f_414c_8f36_09eea1b5dae3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What did you like about your agent experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select all that apply</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_63e3fe18_359a_4ba0_908b_358924735c04</name>
        <label>Overall Experience</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_05e90b4b_46e5_48a5_ac47_6342968c73dd</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a13633b2_74a0_4d48_9b5e_4587166bbbec_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a13633b2_74a0_4d48_9b5e_4587166bbbec</name>
            <choiceReferences>c_aa8e4863_ef8c_46e3_9019_cd619304893d</choiceReferences>
            <choiceReferences>c_601e319b_8ce8_4d75_9c51_27efb2e52556</choiceReferences>
            <choiceReferences>c_d000a5af_bd6f_4c3e_bf8f_8d45d1e37a2d</choiceReferences>
            <choiceReferences>c_d395e064_9212_4c26_9cf9_08766d5c9cfd</choiceReferences>
            <choiceReferences>c_c16eb8da_3d6f_448f_8954_6b0d33723d00</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;How was your overall experience?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_786e66cd_7e9a_4abd_b056_c43142ec403d</name>
        <label>Improvement Feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_786e66cd_7e9a_4abd_b056_c43142ec403d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e33f297b_e92d_4e5f_8f35_e8522d8d2450</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;How can we improve?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a8c99296_480f_41f5_8594_7e5a5746b488</name>
        <label>Overall Positive Experience</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_ca351fd8_cd2c_473c_87ac_49f3f7d9e350</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b2f23197_3adf_4ca8_a8a6_7147638872b7</name>
            <choiceReferences>c_34fcaedf_7961_40b7_8d5f_ffbdcb1088de</choiceReferences>
            <choiceReferences>c_9114cef2_19cf_47b1_ae05_3b60b4d8b355</choiceReferences>
            <choiceReferences>c_5225142a_2f75_4ede_8818_954ed1a9ae0e</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What did you like about your experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select all that apply</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c23ea25a_1c2d_4d9d_8a36_0b0b89269662</name>
        <label>Additional Feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b88135d_f733_4916_a1b1_9d78c8c232b2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Additional Feedback&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please feel free to provide further details about your experience</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_63e3fe18_359a_4ba0_908b_358924735c04</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for your feedback!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_a13633b2_74a0_4d48_9b5e_4587166bbbec_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
