unpackaged/main/default/flows/CSR_Loyalty_Points_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Adding_Transaction</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Adding Transaction&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adding Transaction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Beyond_Extension_Period</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Beyond Extension Period&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Beyond Extension Period</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Accommodation</name>
        <choiceText>Customer Accommodation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Accommodation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Double_Pts_Promo</name>
        <choiceText>Double Points Promo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Double Points Promo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gift_Card_Accommodation</name>
        <choiceText>Gift Card Accommodation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Card Accommodation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Signup_Bonus</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Signup Bonus Points Issue&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Signup Bonus Points Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Triple_Pts_Promo</name>
        <choiceText>Triple Points Promo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Triple Points Promo</stringValue>
        </value>
    </choices>
    <constants>
        <name>Hide_RewardChangeType_field</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <decisions>
        <description>If Points Adjustment checkbox is checked, then show a different initial screen. If unchecked, show standard screen to enter new points</description>
        <name>Flag_on</name>
        <label>Flag on</label>
        <locationX>284</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Points_Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.PendingPointsAdjustment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Points_Adjustment_Flag_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Points Adjustment screen flow</description>
    <dynamicChoiceSets>
        <name>PointsReasonCodes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TotalPoints</name>
        <dataType>Number</dataType>
        <expression>{!Get_Case.PointsGranted__c} + {!Points_0}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Validation1</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!Get_Case_Contact.Brand_Id__c}),
&quot;2&quot;,1501,
5001)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CSR Loyalty Points Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSR Loyalty Points Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case record the Points Adjustment button was clicked from</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Loyalty_ID__c</queriedFields>
        <queriedFields>PointsGranted__c</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>Reward_Change_Details__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Reward_Change_Type__c</queriedFields>
        <queriedFields>PointsAdjustmentTimeStamp__c</queriedFields>
        <queriedFields>PendingPointsAdjustment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case Contact</label>
        <locationX>193</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flag_on</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LoyaltyID__c</queriedFields>
        <queriedFields>Brand_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>708</locationX>
        <locationY>189</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LoyaltyComments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingPointsAdjustment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsAdjustmentTimeStamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsGranted__c</field>
            <value>
                <elementReference>Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Details__c</field>
            <value>
                <elementReference>RewardChanges.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Type__c</field>
            <value>
                <elementReference>RewardChanges.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case-Flag=Yes</label>
        <locationX>756</locationX>
        <locationY>377</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LoyaltyComments__c</field>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendingPointsAdjustment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsAdjustmentTimeStamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PointsGranted__c</field>
            <value>
                <elementReference>Points_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Details__c</field>
            <value>
                <elementReference>RewardChanges_0.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Change_Type__c</field>
            <value>
                <elementReference>RewardChanges_0.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Points_Adjustment</name>
        <label>Points Adjustment</label>
        <locationX>349</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Points_Adjustment_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Points</name>
            <dataType>Number</dataType>
            <fieldText>Points</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;The {!Points} points you entered is outside of the allowable amount. Please correct and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(ABS({!Points}) &lt; {!Validation1}, ABS({!Points})&gt;0)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RewardChanges</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reward Change Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reward Change Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>AccommodationPoints</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CONFIRMPointsEntered</name>
            <fieldText>&lt;p&gt;The Points entered above should be for the total points needed for the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>RewardChanges.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Double_Pts_Promo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RewardChanges.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Triple_Pts_Promo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The Comments contains more than 255 characters. Please shorten and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Points_Adjustment_Confirmation</name>
        <label>Points Adjustment Confirmation</label>
        <locationX>541</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;You are attempting to Issue {!Points} points for LoyaltyId {!Get_Case_Contact.LoyaltyID__c}. Press Next button to submit, or close this tab to void this change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This change will not appear in Points Transaction history until tomorrow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Points_Adjustment_Confirmation_0</name>
        <label>Points Adjustment Confirmation-Flag=Yes</label>
        <locationX>618</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message_0</name>
            <fieldText>&lt;p&gt;You are attempting to Issue an additional &lt;b&gt;{!Points_0} points&lt;/b&gt; for LoyaltyId {!Get_Case_Contact.LoyaltyID__c}. The &lt;b&gt;Total Points&lt;/b&gt; for this Contact that will be &lt;b&gt;submitted today are {!TotalPoints}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press Next button to submit, or close this tab to void this change and maintain the {!Get_Case.PointsGranted__c} submitted earlier.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: This change will not appear in Points Transaction history until tomorrow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Points_Adjustment_Flag_Yes</name>
        <label>Points Adjustment - Flag=Yes</label>
        <locationX>467</locationX>
        <locationY>377</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Points_Adjustment_Confirmation_0</targetReference>
        </connector>
        <fields>
            <name>PendingPointsCallout</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(253, 1, 18);&quot;&gt;&lt;i&gt;There are {!Get_Case.PointsGranted__c} points pending on this Case. Are you sure you want to continue?&lt;/i&gt;&lt;/b&gt; If yes, please calculate the number of points (+/-) you need to adjust to get to the total points you&#39;re looking for, as both entries will submit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example, if your pending points = 100 and you meant to submit 150, enter 50 below in the Points field to total the 150 you need. If you submitted 150 and meant to submit 100, enter -50 below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Points_0</name>
            <dataType>Number</dataType>
            <fieldText>Points</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;The {!Points_0} points you entered is outside of the allowable amount. Please correct and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(ABS({!Points_0}) &lt; {!Validation1}, ABS({!Points_0})&gt;0)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RewardChanges_0</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reward_Change_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reward Change Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reward Change Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>AccommodationPoints</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments_0</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The Comments contains more than 255 characters. Please shorten and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curCase2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
