unpackaged/main/default/flows/CSR_Update_Email_in_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Exit_Flow</name>
        <label>Exit Flow</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>out_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&#39;Thank you, your response was successfully received and recorded in our system.&#39;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Contact_Fields</name>
        <label>Update Contact Fields</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>getContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.CSRmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Email_Address_Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification Success : Email Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.OldEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.B2C_UserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.CSRmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Email_Updated_by_CSR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RejectedReasonCode</name>
        <label>Update RejectedReasonCode</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>getContact.Email_Address_Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification Declined : No Email Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Email_Updated_by_CSR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_User_Approved_or_Rejected</name>
        <label>Check If User Approved or Rejected</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_RejectedReasonCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.CSR_Email_UserConfirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Fields</targetReference>
            </connector>
            <label>User Confirmed</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateEmail updated from CSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSR_ Update Email in Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_caseid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_User_Approved_or_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case_Record</name>
        <label>update Case Record</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Exit_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSRMailUpdateonContact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Contact_Record</name>
        <label>update Contact Record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>update_Case_Record</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
