unpackaged/main/default/flows/Email_Message_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_General_Case</name>
        <label>New General Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Follow_up_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Supplied_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSuppliedFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Supplied_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSuppliedLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Case Status is Closed and is NOT a Privacy Case, then create a new General Case</description>
        <name>decCase_Status_Closed_Not_Privacy_Case</name>
        <label>Case Status Closed &amp; Not Privacy Case</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Closed_Not_Privacy_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_General_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Closed Not Privacy Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fEmailRecordParentId</name>
        <dataType>String</dataType>
        <expression>{!$Record.ParentId}</expression>
    </formulas>
    <formulas>
        <name>fSuppliedFirstName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Parent.ContactId} )), {!$Record.Parent.Contact.FirstName}, &#39;&#39;)</expression>
    </formulas>
    <formulas>
        <name>fSuppliedLastName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Parent.ContactId} )), {!$Record.Parent.Contact.LastName}, &#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Email Message: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>varCaseToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decCase_Status_Closed_Not_Privacy_Case</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_flow</name>
        <label>Run error handling flow</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Email Message: After Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>varCaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
