unpackaged/main/default/flows/Email_Message_Incoming_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_To_Omni</name>
        <label>Assign To Omni</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <actionName>PrivacyCaseQueueHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decCase_to_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>varCaseCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Case_to_collection</name>
        <label>Add Case to collection</label>
        <locationX>138</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>varCaseCollection.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Case_for_Omni.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_for_Omni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>732</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varCaseid</name>
        <label>Assign varCaseid</label>
        <locationX>732</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCase_EmailToAddress_isblank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Copy 1 of Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assign to Omni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Run_error_handling_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_to_Open</name>
        <label>Set Case to Open</label>
        <locationX>600</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Eligible_for_7day_reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Suppress_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decPrivacy_Case_non_closed_incoming_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Access_and_Deletion_Pending_Open</name>
        <label>Update Access and Deletion Pending -&gt; Open</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_EmailToAddressR</name>
        <label>Update Case EmailToAddress</label>
        <locationX>600</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.emailToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCase_Status_Closed_Privacy_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Data_Owner_Cases_Pending_Review_Response</name>
        <label>Update Data Owner Cases Pending -&gt; Review Response</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varCaseToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ReviewResponse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sets EmailToAddress field on Case</description>
        <name>decCase_EmailToAddress_isblank</name>
        <label>Case EmailToAddress isblank</label>
        <locationX>732</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>decCase_Status_Closed_Privacy_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resEmailToAddress_isblank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.emailToAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailtoAddressCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_EmailToAddressR</targetReference>
            </connector>
            <label>EmailToAddress isblank</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_Status_Closed_Privacy_Case</name>
        <label>Case Status Closed &amp; Privacy Case</label>
        <locationX>732</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>decCase_Status_Open_When_not_Privacy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Closed_Privacy_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCase_Status_Open_When_not_Privacy</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Closed &amp; Privacy Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_Status_Open_When_not_Privacy</name>
        <label>Case Status Open When not Privacy</label>
        <locationX>732</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>decPrivacy_Case_non_closed_incoming_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Open_Case_Not_Privacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_to_Open</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Open Case Not Privacy</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_Sub_Type</name>
        <label>Case Sub Type?</label>
        <locationX>446</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>decCase_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resNOT_Data_Owner_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Sub_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Owner Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Access_and_Deletion_Pending_Open</targetReference>
            </connector>
            <label>NOT Data Owner Request</label>
        </rules>
        <rules>
            <name>resData_Owner_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Owner Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Owner_Cases_Pending_Review_Response</targetReference>
            </connector>
            <label>Data Owner Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCase_to_Update</name>
        <label>Case to Update?</label>
        <locationX>732</locationX>
        <locationY>2795</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Case_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes, Case to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>decEmail_related_to_Case</name>
        <label>Email related to Case?</label>
        <locationX>996</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_related_to_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varCaseid</targetReference>
            </connector>
            <label>Yes, related to case</label>
        </rules>
    </decisions>
    <decisions>
        <name>decPrivacy_Case_non_closed_incoming_email</name>
        <label>Privacy Case, non-closed, incoming email</label>
        <locationX>732</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>decCase_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Non_Closed_Privacy_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Privacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decCase_Sub_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Non-Closed Privacy Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailtoAddressCheck</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!$Record.ToAddress})&lt;=255</expression>
    </formulas>
    <formulas>
        <name>fEmailRecordParentId</name>
        <dataType>String</dataType>
        <expression>{!$Record.ParentId}</expression>
    </formulas>
    <formulas>
        <name>fSuppliedFirstName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Parent.ContactId} )), {!$Record.Parent.Contact.FirstName}, &#39;&#39;)</expression>
    </formulas>
    <formulas>
        <name>fSuppliedLastName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Parent.ContactId} )), {!$Record.Parent.Contact.LastName}, &#39;&#39;)</expression>
    </formulas>
    <interviewLabel>Email Message (Incoming): After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message (Incoming): After Save</label>
    <loops>
        <name>Loop_Case_for_Omni</name>
        <label>Loop Case for Omni</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <collectionReference>Get_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_To_Omni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_for_Omni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>468</locationX>
        <locationY>2915</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>varCaseToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decEmail_related_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_error_handling_flow</name>
        <label>Run error handling flow</label>
        <locationX>732</locationX>
        <locationY>3155</locationY>
        <flowName>Log_Error_Handling_Subflow</flowName>
        <inputAssignments>
            <name>varClassName</name>
            <value>
                <stringValue>Email Message (Incoming): After Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultSection</name>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
