unpackaged/main/default/flows/EmailChangebyR2R.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendMail</name>
        <label>SendMailOldMail</label>
        <locationX>533</locationX>
        <locationY>533</locationY>
        <actionName>R2RChangeRequestSendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pause_the_flow_for_Input</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brandName</name>
            <value>
                <elementReference>brandName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>getCase.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subType</name>
            <value>
                <elementReference>subType</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_resolution_code</name>
        <label>Assign resolution code</label>
        <locationX>286</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>Rescode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_resolution_code_0</name>
        <label>Assign resolution code</label>
        <locationX>566</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Rescode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Case</name>
        <label>Check for Case</label>
        <locationX>234</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>getContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Provided</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Data Provided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Data Corrected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Data Deleted</stringValue>
                </rightValue>
            </conditions>
            <label>Data Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_Email_Reason_Code_in_Contact</name>
        <label>Updating Email Reason Code in Contact</label>
        <locationX>368</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>No_User_Intervention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Intervention</defaultConnectorLabel>
        <rules>
            <name>Email_update_failed_after_User_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CreatedDate24</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User Data Provided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase_0.Resolution_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User Data Corrected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_Update_in_Mail</targetReference>
            </connector>
            <label>Email update failed after User Confirmed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate24</name>
        <dataType>DateTime</dataType>
        <expression>{!getCase_0.CreatedDate}+(2/24)</expression>
    </formulas>
    <interviewLabel>EmailChangebyR2R {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailChangebyR2R</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>539</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCase_0</name>
        <label>getCase</label>
        <locationX>279</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>551</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact_0</name>
        <label>getContact</label>
        <locationX>378</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Email_Reason_Code_in_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase_0.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupId</name>
        <label>getGroupId</label>
        <locationX>541</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTR Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>No_User_Intervention</name>
        <label>No User Intervention</label>
        <locationX>538</locationX>
        <locationY>1207</locationY>
        <connector>
            <targetReference>getGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase_0.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>newMailId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address_Reason_Code__c</field>
            <value>
                <stringValue>Verification Failure : No Customer&#39;s response</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unable_to_Update_in_Mail</name>
        <label>Unable to Update in Mail</label>
        <locationX>191</locationX>
        <locationY>1388</locationY>
        <connector>
            <targetReference>Assign_resolution_code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase_0.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address_Reason_Code__c</field>
            <value>
                <stringValue>Verification Failure : No Customer&#39;s response</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>414</locationX>
        <locationY>1707</locationY>
        <connector>
            <targetReference>getGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>Rescode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseOwner</name>
        <label>updateCaseOwner</label>
        <locationX>542</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Assign_resolution_code_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyOfMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Hi &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;We received a request to change the email address for the username.  Please make sure the following changes are correct:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Previous email address: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;New email address: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;To finish changing your email address, go to the following link. This link expires in 24 hours.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>brandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newMailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rescode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause_the_flow_for_Input</name>
        <label>Pause the flow for Input</label>
        <locationX>552</locationX>
        <locationY>744</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Waiting_for_User_Input_or_24_hours_time</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>getCase_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Waiting for User Input or 24 hours time</label>
        </waitEvents>
    </waits>
</Flow>
