unpackaged/main/default/flows/Flow_for_Survey_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CK_Trigger_Survey</name>
        <label>CK Trigger Survey</label>
        <locationX>882</locationX>
        <locationY>334</locationY>
        <actionName>SurveySubject.CK_Survey_Send</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sObjSurveySubject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Olga_Send_Survey</name>
        <label>Olga Send Survey</label>
        <locationX>989</locationX>
        <locationY>411</locationY>
        <actionName>SurveySubject.Olga_Survey_Send</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sObjSurveySubject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tommy_Send_Survey</name>
        <label>Tommy Send Survey</label>
        <locationX>1154</locationX>
        <locationY>534</locationY>
        <actionName>SurveySubject.Tommy_Survey_Send</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sObjSurveySubject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>True_Co_Send_Survey</name>
        <label>True &amp; Co Send Survey</label>
        <locationX>1207</locationX>
        <locationY>572</locationY>
        <actionName>SurveySubject.True_CO_Survey_Send</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sObjSurveySubject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Warners_Send_Survey</name>
        <label>Warners Send Survey</label>
        <locationX>1322</locationX>
        <locationY>642</locationY>
        <actionName>SurveySubject.Warners_Survey_Send</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sObjSurveySubject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Survey_Subject</name>
        <label>Assign Survey Subject</label>
        <locationX>380</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyInvitationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_surveyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.InvitationLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedInvite.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrandName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Subject</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Brand_Decision</name>
        <label>Brand Decision</label>
        <locationX>548</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tommy_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrandID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tommy_Send_Survey</targetReference>
            </connector>
            <label>Tommy Survey</label>
        </rules>
        <rules>
            <name>Olga_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrandID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Olga_Send_Survey</targetReference>
            </connector>
            <label>Olga Survey</label>
        </rules>
        <rules>
            <name>True_Co_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrandID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True_Co_Send_Survey</targetReference>
            </connector>
            <label>True &amp; Co Survey</label>
        </rules>
        <rules>
            <name>Calvin_Klien_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrandID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CK_Trigger_Survey</targetReference>
            </connector>
            <label>Calvin Klien Survey</label>
        </rules>
        <rules>
            <name>Warners_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrandID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warners_Send_Survey</targetReference>
            </connector>
            <label>Warners Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_surveyName</name>
        <dataType>String</dataType>
        <expression>&#39;Survey for Case &#39;+{!CaseNumber}</expression>
    </formulas>
    <interviewLabel>Flow for Survey Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Survey Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>712</locationX>
        <locationY>228</locationY>
        <assignRecordIdToReference>SurveyInvitationID</assignRecordIdToReference>
        <connector>
            <targetReference>GetCreatedInvite</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>CommunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_surveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_s_E_mail__c</field>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Subject</name>
        <label>Create Survey Subject</label>
        <locationX>383</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Brand_Decision</targetReference>
        </connector>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCreatedInvite</name>
        <label>GetCreatedInvite</label>
        <locationX>539</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Survey_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyInvitationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvitationLink</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Brand_Community_Id</name>
        <label>Lookup Brand Community Id</label>
        <locationX>711</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BrandID</elementReference>
            </value>
        </filters>
        <object>Brand_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>CommunityID</assignToReference>
            <field>Community_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CommunityName</assignToReference>
            <field>Community_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrandName</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SurveyName</assignToReference>
            <field>Survey_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>389</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>BrandID</assignToReference>
            <field>Brand__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Community</name>
        <label>Lookup Community</label>
        <locationX>885</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityName</elementReference>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>CommunityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>553</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Brand_Community_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Survey</name>
        <label>Lookup Survey</label>
        <locationX>885</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyName</elementReference>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>SurveyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BrandID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyInvitationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
