unpackaged/main/default/flows/MC_GC_Issuance_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>MC_GCIssuance</name>
        <choiceText>MC/GC Issuance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MC/GC Issuance</stringValue>
        </value>
    </choices>
    <description>Versioned to change &quot;Total Value&quot; field to support decimals and stop rounding</description>
    <dynamicChoiceSets>
        <name>ActionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Action_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>MC/GC Issuance Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC/GC Issuance Flow2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MC_GC_Task</name>
        <label>Create MC/GC Task</label>
        <locationX>685</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <elementReference>Activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_GC_Number__c</field>
            <value>
                <elementReference>MC_GC_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Value__c</field>
            <value>
                <elementReference>Total_Value_Curr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>473</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Activity_Screen</name>
        <label>Activity Screen</label>
        <locationX>685</locationX>
        <locationY>193</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_MC_GC_Task</targetReference>
        </connector>
        <fields>
            <name>Activity</name>
            <choiceReferences>MC_GCIssuance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MC_GC_Number</name>
            <dataType>String</dataType>
            <fieldText>MC/GC Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MC/GC Issuance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Total_Value_Curr</name>
            <dataType>Currency</dataType>
            <fieldText>Total Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MC/GC Issuance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>93</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
