unpackaged/main/default/flows/New_Child_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NewChildCaseTest</name>
        <label>NewChildCaseTest</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>VarTCaseID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Child Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Child Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>VarTCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>NewChildCaseTest</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>GetParentCase.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>GetParentCase.Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NFCaseScenario__c</field>
            <value>
                <elementReference>GetParentCase.NFCaseScenario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>GetParentCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Manufacturers__c</field>
            <value>
                <elementReference>GetParentCase.Reason_Code_Manufacturers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Product_Category__c</field>
            <value>
                <elementReference>GetParentCase.Reason_Code_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Product_Sub_Categories_Widge__c</field>
            <value>
                <elementReference>GetParentCase.Reason_Code_Product_Sub_Categories_Widge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusPrinted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Vendors__c</field>
            <value>
                <elementReference>GetParentCase.Third_Party_Vendors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDateofServiceIssue__c</field>
            <value>
                <elementReference>GetParentCase.ZdPVHDateofServiceIssue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDistrictNumber__c</field>
            <value>
                <elementReference>GetParentCase.ZdPVHDistrictNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHStoreNumber__c</field>
            <value>
                <elementReference>GetParentCase.ZdPVHStoreNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHUpdateAccountInfoReason__c</field>
            <value>
                <elementReference>GetParentCase.ZdPVHUpdateAccountInfoReason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetParentCase</name>
        <label>GetParentCase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>ZdPVHUpdateAccountInfoReason__c</queriedFields>
        <queriedFields>Reason_Code_Manufacturers__c</queriedFields>
        <queriedFields>Reason_Code_Product_Category__c</queriedFields>
        <queriedFields>ZdPVHStoreNumber__c</queriedFields>
        <queriedFields>ZdPVHDistrictNumber__c</queriedFields>
        <queriedFields>ZdPVHDateofServiceIssue__c</queriedFields>
        <queriedFields>Reason_Code_Product_Sub_Categories_Widge__c</queriedFields>
        <queriedFields>Third_Party_Vendors__c</queriedFields>
        <queriedFields>NFCaseScenario__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StatusPrinted</name>
            <choiceReferences>Pending</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Pending</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactLookupId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VarTCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
