unpackaged/main/default/flows/NF_MOD_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Add_Count_to_0</name>
        <label>Assign Add Count to 0</label>
        <locationX>3922</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varCountofMemberstoAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Selections_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Potential Group Member User Info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_MOD_Group_Member_Details</name>
        <label>Assign New MOD Group Member Details</label>
        <locationX>4010</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Add.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextCollectionUsersToAddIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Add.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_New_MOD_Group_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ops_Quality_Group_Member_Details</name>
        <label>Assign Ops/Quality Group Member Details</label>
        <locationX>2866</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varTextCollectionUsersToRemoveIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Group_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Potential_Group_Member_User_Id_to_Text_Collection</name>
        <label>Assign Potential Group Member User Id to Text Collection</label>
        <locationX>138</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varPotentialUserListIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Potential_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Potential_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Removal_Count_to_0</name>
        <label>Assign Removal Count to 0</label>
        <locationX>2778</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varCountofMemberstoRemove</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Selections_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Group_Member_to_Collection</name>
        <label>Assign Single Group Member to Collection</label>
        <locationX>3130</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>collection_NewGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_NewGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users_to_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_New_MOD_Group_Member_to_Collection</name>
        <label>Assign Single New MOD Group Member to Collection</label>
        <locationX>4010</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>collection_NewGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_NewGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tier_III_CSR_Supervisor_Group_Member_Details</name>
        <label>Assign Tier III CSR/Supervisor Group Member Details</label>
        <locationX>3130</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varTextCollectionUsersToRemoveIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTierIIISupervisorGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Group_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Ids_to_Text_Collection</name>
        <label>Assign User Ids to Text Collection</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varCurrentMODUserListIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Current_MOD_Group_Users.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Current_MOD_Group_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>4714</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Element: Create New MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>4450</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Non MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>4186</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete Element: Delete Non MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Ops/Quality &amp; Tier 3 Group Member User Info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Ops/Quality &amp; Tier 3 Group Member User Info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Ops/Quality Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get Current MOD Users</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get MOD Group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>3570</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Element: Create Non MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>3306</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Element: Get MOD Group Members to Delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Fault_Section</name>
        <label>Assign Fault Section</label>
        <locationX>3042</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varFaultSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete Element: Delete MOD Group Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Profile_Check</name>
        <label>Profile Check</label>
        <locationX>3130</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_Users_to_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ops_Quality_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Users_to_Remove.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ops_Quality_Group_Member_Details</targetReference>
            </connector>
            <label>Ops/Quality Profile</label>
        </rules>
        <rules>
            <name>Tier_III_CSR_Supervisor_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Users_to_Remove.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier III CSR/Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tier_III_CSR_Supervisor_Group_Member_Details</targetReference>
            </connector>
            <label>Tier III CSR/Supervisor Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Selections_Decision</name>
        <label>User Selections Decision</label>
        <locationX>2514</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Selections_Not_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofMemberstoAdd</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountofMemberstoRemove</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MOD_Group</targetReference>
            </connector>
            <label>Selections Not Made</label>
        </rules>
        <rules>
            <name>Remove_Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofMemberstoRemove</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Users_to_Remove</targetReference>
            </connector>
            <label>Remove Selection Made</label>
        </rules>
        <rules>
            <name>Add_Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofMemberstoAdd</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Users_to_Add</targetReference>
            </connector>
            <label>Add Selection Made</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaNonMODGroupId</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_Through_Users_to_Remove.Profile.Name},
    &quot;Ops/Quality&quot;, {!varOpsQualityGroupId},
    &quot;Tier III CSR/Supervisor&quot;, {!varTierIIISupervisorGroupId},
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>NF - MOD SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NF - MOD SubFlow</label>
    <loops>
        <name>Loop_Through_Current_MOD_Group_Users</name>
        <label>Loop Through Current MOD Group Users</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>collection_CurrentMODGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Ids_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_MOD_User_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Potential_Group_Members</name>
        <label>Loop Through Potential Group Members</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>collection_PotentialGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Potential_Group_Member_User_Id_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Potential_Group_Member_User_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Users_to_Add</name>
        <label>Loop Through Users to Add</label>
        <locationX>3922</locationX>
        <locationY>278</locationY>
        <collectionReference>collection_UsersToAdd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_MOD_Group_Member_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_MOD_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Users_to_Remove</name>
        <label>Loop Through Users to Remove</label>
        <locationX>2778</locationX>
        <locationY>278</locationY>
        <collectionReference>collection_UsersToRemove</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Profile_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Non_MOD_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <stringValue>NF - MOD SubFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <elementReference>varFaultSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MOD_Group_Members</name>
        <label>Create New MOD Group Members</label>
        <locationX>3922</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Get_Non_MOD_Group_Member_Records_to_Delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_10_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>collection_NewGroupMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Non_MOD_Group_Members</name>
        <label>Create Non MOD Group Members</label>
        <locationX>2778</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Get_MOD_Group_Members_to_Delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>collection_NewGroupMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_MOD_Group_Members</name>
        <label>Delete MOD Group Members</label>
        <locationX>2778</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Removal_Count_to_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_9_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>Get_MOD_Group_Members_to_Delete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Non_MOD_Group_Member_Records</name>
        <label>Delete Non MOD Group Member Records</label>
        <locationX>3922</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Add_Count_to_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <inputReference>Get_Non_MOD_Group_Member_Records_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_MOD_User_Info</name>
        <label>Get Current MOD User Info</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ops_Quality_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCurrentMODUserListIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>collection_CurrentMODUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group</name>
        <label>Get MOD Group</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MOD_Group_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOD_POE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varMODGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group_Members</name>
        <label>Get MOD Group Members</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Current_MOD_Group_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>collection_CurrentMODGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group_Members_to_Delete</name>
        <label>Get MOD Group Members to Delete</label>
        <locationX>2778</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_MOD_Group_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>varTextCollectionUsersToRemoveIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_MOD_Group_Member_Records_to_Delete</name>
        <label>Get Non MOD Group Member Records to Delete</label>
        <locationX>3922</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Non_MOD_Group_Member_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>varTextCollectionUsersToAddIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTierIIISupervisorGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Quality_Group</name>
        <label>Get Ops Quality Group</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tier_III_Supervisor_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PVH_Corp_Operations_Quality</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varOpsQualityGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Quality_Tier_III_Supervisor_Group_Members</name>
        <label>Get Ops Quality Tier III/Supervisor Group Members</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Potential_Group_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTierIIISupervisorGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>collection_PotentialGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Group_Member_User_Info</name>
        <label>Get Potential Group Member User Info</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varCurrentMODUserListIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varPotentialUserListIds</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>collection_PotentialMODUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_III_Supervisor_Group</name>
        <label>Get Tier III/Supervisor Group</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ops_Quality_Tier_III_Supervisor_Group_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Fault_Section</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier_3_CSR_Supervisor</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varTierIIISupervisorGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Selections_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_CurrentMODGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_CurrentMODUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_NewGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialMODUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToRemove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>single_NewGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varCountofMemberstoAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountofMemberstoRemove</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrentMODUserListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMODGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpsQualityGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPotentialUserListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTESTProfileNameGrab</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToAddIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToRemoveIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTierIIISupervisorGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
