unpackaged/main/default/flows/NF_MOD_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Single_to_Group_Member_Collection</name>
        <label>Add Single to Group Member Collection</label>
        <locationX>528</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>collection_NewGroupMemberstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_NewGroupMembertoCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users_to_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts_of_Selections_Made</name>
        <label>Assign Counts of Selections Made</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varCountofMemberstoAdd</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collection_UsersToAdd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountofMemberstoRemove</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collection_UsersToRemove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Remove_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ops_Quality_Group_Member_Details</name>
        <label>Assign Ops/Quality Group Member Details</label>
        <locationX>528</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varTextCollectionUsersToRemoveIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMembertoCreate.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMembertoCreate.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_to_Group_Member_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Potential_Group_Member_User_Ids_to_Text_Collection</name>
        <label>Assign Potential Group Member User Ids to Text Collection</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varPotentialUserIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Potential_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Potential_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tier_III_Supervisor_Group_Member_Details</name>
        <label>Assign Tier III/Supervisor Group Member Details</label>
        <locationX>792</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varTextCollectionUsersToRemoveIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMembertoCreate.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_NewGroupMembertoCreate.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTier3SuperviserGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Single_to_Group_Member_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Ids_to_Text_Collection</name>
        <label>Assign User Ids to Text Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varUserIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Current_MOD_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Current_MOD_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Remove_Selection</name>
        <label>Add/Remove Selection</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofMemberstoAdd</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Screen</targetReference>
            </connector>
            <label>Add Selection Made</label>
        </rules>
        <rules>
            <name>Removal_Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountofMemberstoRemove</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Users_to_Remove</targetReference>
            </connector>
            <label>Removal Selection Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Check</name>
        <label>Profile Check</label>
        <locationX>792</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Users_to_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ops_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Users_to_Remove.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ops_Quality_Group_Member_Details</targetReference>
            </connector>
            <label>Ops/Quality</label>
        </rules>
        <rules>
            <name>Tier_III_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Users_to_Remove.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier III CSR/Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tier_III_Supervisor_Group_Member_Details</targetReference>
            </connector>
            <label>Tier III/Supervisor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaNonMODGroupId</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_Through_Users_to_Remove.Profile.Name},
    &quot;Ops/Quality&quot;, {!varOpsQualityGroupId},
    &quot;Tier III CSR/Supervisor&quot;, {!varTier3SuperviserGroupId},
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>NF - MOD Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NF - MOD Screen Flow</label>
    <loops>
        <name>Loop_Through_Current_MOD_Members</name>
        <label>Loop Through Current MOD Members</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>collection_CurrentGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Ids_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_MOD_User_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Potential_Group_Members</name>
        <label>Loop Through Potential Group Members</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <collectionReference>collection_PotentialMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Potential_Group_Member_User_Ids_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Potential_Members_User_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Users_to_Remove</name>
        <label>Loop Through Users to Remove</label>
        <locationX>440</locationX>
        <locationY>2030</locationY>
        <collectionReference>collection_UsersToRemove</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Profile_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Non_MOD_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Non_MOD_Group_Members</name>
        <label>Create Non MOD Group Members</label>
        <locationX>440</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Get_MOD_Group_Members_to_Delete</targetReference>
        </connector>
        <inputReference>collection_NewGroupMemberstoCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_MOD_Group_Members</name>
        <label>Delete MOD Group Members</label>
        <locationX>440</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>Get_MOD_Group_Members_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_MOD_User_Info</name>
        <label>Get Current MOD User Info</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ops_Quality_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varUserIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>collection_CurrentModUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group</name>
        <label>Get MOD Group</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MOD_Group_Memberes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOD_POE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varMODGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group_Memberes</name>
        <label>Get MOD Group Memberes</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Current_MOD_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>collection_CurrentGroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MOD_Group_Members_to_Delete</name>
        <label>Get MOD Group Members to Delete</label>
        <locationX>440</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_MOD_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>varTextCollectionUsersToRemoveIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Quality_Group</name>
        <label>Get Ops/Quality Group</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tier_III_Supervisor_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PVH_Corp_Operations_Quality</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varOpsQualityGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Ops_Quality_Tier_III_Group_Members</name>
        <label>Get Ops/Quality Tier III Group Members</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Potential_Group_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTier3SuperviserGroupId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>collection_PotentialMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Potential_Members_User_Info</name>
        <label>Get Potential Members User Info</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MOD_Selections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varUserIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varPotentialUserIdsList</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>collection_PotentialMODUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_III_Supervisor_Group</name>
        <label>Get Tier III/Supervisor Group</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ops_Quality_Tier_III_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier_3_CSR_Supervisor</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varTier3SuperviserGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>3158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Congratulations, your selections have been confirmed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MOD_Selections</name>
        <label>MOD Selections</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Counts_of_Selections_Made</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;MOD Assignment / Removal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MOD_Selections_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOD_Selections_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MOD_Selections_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOD_Selections_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsersToRemoveMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select from Current Users to remove from MOD Group&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GroupMembersToRemoveDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collection_CurrentModUsers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a04&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>collection_UsersToRemove</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MOD_Selections_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsersToAddMessage</name>
                    <fieldText>&lt;p&gt;Select from Possible Users to add to MOD Group&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PotentialUsersDatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collection_PotentialMODUsers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7f67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>collection_UsersToAdd</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MOD_Group</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collection_CurrentGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_CurrentModUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_NewGroupMemberstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialMODUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToRemove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Groups_Non_MOD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItem_Groups_Filter_MOD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>single_NewGroupMembertoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varCountofMemberstoAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountofMemberstoRemove</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varGroupMembersToRemoveUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMODGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpsQualityGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPotentialUserIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToAddIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToRemoveIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTier3SuperviserGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
