unpackaged/main/default/flows/NF_MOD_Screen_Flow_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Count_of_Selections</name>
        <label>Assign Count of Selections</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCountofMemberstoAdd</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collection_UsersToAdd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountofMemberstoRemove</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collection_UsersToRemove</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MOD_SubFlow_Execute_on_Selections</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NF - MOD Screen Flow Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NF - MOD Screen Flow Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Congratulations, your selections have been confirmed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MOD_Selections</name>
        <label>MOD Selections</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Count_of_Selections</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;MOD Assignment / Removal&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MOD_Selections_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOD_Selections_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MOD_Selections_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOD_Selections_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_UsersToRemoveMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select from Current Users to remove from MOD Group&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_GroupMembersToRemoveDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collection_CurrentModUsers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9a04&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>collection_UsersToRemove</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MOD_Selections_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_UsersToAddMessage</name>
                    <fieldText>&lt;p&gt;Select from Possible Users to add to MOD Group&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_PotentialUsersDatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>User</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collection_PotentialMODUsers</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7f67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>collection_UsersToAdd</assignToReference>
                        <name>selectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MOD_SubFlow_Initialization</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>MOD_SubFlow_Execute_on_Selections</name>
        <label>MOD SubFlow - Execute on Selections</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowName>NF_MOD_SubFlow</flowName>
        <inputAssignments>
            <name>collection_UsersToAdd</name>
            <value>
                <elementReference>collection_UsersToAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>collection_UsersToRemove</name>
            <value>
                <elementReference>collection_UsersToRemove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCountofMemberstoAdd</name>
            <value>
                <elementReference>varCountofMemberstoAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCountofMemberstoRemove</name>
            <value>
                <elementReference>varCountofMemberstoRemove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMODGroupId</name>
            <value>
                <elementReference>varMODGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpsQualityGroupId</name>
            <value>
                <elementReference>varOpsQualityGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTierIIISupervisorGroupId</name>
            <value>
                <elementReference>varTier3SuperviserGroupId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>MOD_SubFlow_Initialization</name>
        <label>MOD SubFlow Initialization</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>MOD_Selections</targetReference>
        </connector>
        <flowName>NF_MOD_SubFlow</flowName>
        <outputAssignments>
            <assignToReference>collection_CurrentModUsers</assignToReference>
            <name>collection_CurrentMODUsers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>collection_PotentialMODUsers</assignToReference>
            <name>collection_PotentialMODUsers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMODGroupId</assignToReference>
            <name>varMODGroupId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpsQualityGroupId</assignToReference>
            <name>varOpsQualityGroupId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTier3SuperviserGroupId</assignToReference>
            <name>varTierIIISupervisorGroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>collection_CurrentGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_CurrentModUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_NewGroupMemberstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>collection_PotentialMODUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_UsersToRemove</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Groups_Non_MOD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItem_Groups_Filter_MOD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>single_NewGroupMembertoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varCountofMemberstoAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCountofMemberstoRemove</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varGroupMembersToRemoveUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMODGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpsQualityGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPotentialUserIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToAddIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextCollectionUsersToRemoveIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTier3SuperviserGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
