unpackaged/main/default/flows/OrderOnBehalfOf_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CustomerAuth_Action</name>
        <label>CustomerAuth Action</label>
        <locationX>1545</locationX>
        <locationY>2692</locationY>
        <actionName>B2CIAAuthCustomerClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_OOBOCustomerAuth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... obtain a Business Manager user grant from the B2C Instance.</description>
        <name>ia_getBusinessManagerUserGrant</name>
        <label>Obtain a Business Manager User Grant</label>
        <locationX>1289</locationX>
        <locationY>2515</locationY>
        <actionName>B2CIABusinessManagerGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasBMUserGrantAuthTokenReturned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>selectedOOBONamedCredential</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... assign the active B2C Site Count to a local variable.</description>
        <name>asn_activeB2CSites</name>
        <label>Assign the Active B2C Site Count</label>
        <locationX>1299</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>activeB2CSitesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeB2CSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasActiveB2CSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... take the anonymous customer identifiers and assign them to the OOBO session.</description>
        <name>asn_anonOOBOIdentifiers</name>
        <label>Assign the Anonymous OOBO Identifiers</label>
        <locationX>1540</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOOBOCustomerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnonymousShoppingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_validateOOBOConfigRequirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture the Contact identifiers used to identify the B2C Customer record.</description>
        <name>asn_b2cCustomerListAndCustomerID</name>
        <label>Capture the B2C CustomerList ID</label>
        <locationX>1463</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnonymousShoppingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... default the CustomerList of the Contact record.</description>
        <name>asn_customerIDAssignment</name>
        <label>Default the B2C CustomerList</label>
        <locationX>1108</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnonymousShoppingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... take the properties from the single B2C Site and copy them to the collection of selected values.</description>
        <name>asn_selectedB2CSiteValues</name>
        <label>Assign the Selected Site Values</label>
        <locationX>1537</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>selectedClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.B2C_Client_ID_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOOBOCustomerNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOOBONamedCredential</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Custom_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Internal_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Active_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteApi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OCAPI_Version_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_iterateB2CSites</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if the OOBO CustomerID mapped to the selected storefront is valid.</description>
        <name>dec_b2cSiteIsAnonCustomerIDValid</name>
        <label>Was a Valid Anon CustomerID Found?</label>
        <locationX>1532</locationX>
        <locationY>2028</locationY>
        <defaultConnector>
            <targetReference>scrn_noAnonCustomerIDSiteConfig</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cSiteIsAnonCustomerIDValidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOOBOCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_anonOOBOIdentifiers</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the CustomerList associated to a given Contact is active or present.</description>
        <name>dec_isB2CCustomerListActive</name>
        <label>Evaluate the Contact&#39;s B2C CustomerList</label>
        <locationX>1292</locationX>
        <locationY>1240</locationY>
        <defaultConnector>
            <targetReference>asn_b2cCustomerListAndCustomerID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>decOut_isB2CCustomerListActiveNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asRegistered</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_customerIDAssignment</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the OOBO customerAuthentication event succeeded with no errors.</description>
        <name>dec_OOBOCustomerAuth</name>
        <label>Was the OOBO Customer Authentication Successful?</label>
        <locationX>1537</locationX>
        <locationY>2957</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Successful</defaultConnectorLabel>
        <rules>
            <name>decOut_OOBOCustomerAuthWasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAuth_Action.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createActivity</targetReference>
            </connector>
            <label>Was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if we can use the Contact&#39;s B2C Commerce profile for the OOBO shopping session with the specified site.</description>
        <name>dec_useB2CCustomerProfileForOOBO</name>
        <label>Use the Contact&#39;s B2C Commerce Customer Profile?</label>
        <locationX>1281</locationX>
        <locationY>2032</locationY>
        <defaultConnector>
            <targetReference>dec_b2cSiteIsAnonCustomerIDValid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Us Anonymous Profile</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCustomerListId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contactCustomerListId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_validateOOBOConfigRequirements</targetReference>
            </connector>
            <label>Use Customer Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the configuration requirements for OOBO and determine if the user can proceed.</description>
        <name>dec_validateOOBOConfigRequirements</name>
        <label>Validate OOBO Configuration Requirements</label>
        <locationX>1280</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>scrn_OOBOConfigurationInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_validateOOBOConfigRequirementsIsValid</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND ((6 AND 7) OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>selectedClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlInternal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lbl_b2cSiteCustomShopUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getBusinessManagerUserGrant</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if at least one (1) active B2C Site was retrieved</description>
        <name>dec_wasActiveB2CSiteFound</name>
        <label>Was an Active B2C Site Found?</label>
        <locationX>1290</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>scrn_noActiveB2CSitesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_ActiveB2CSiteFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_contactRecord</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Business Manager User Grant authToken was returned.</description>
        <name>dec_wasBMUserGrantAuthTokenReturned</name>
        <label>Was an AuthToken Returned?</label>
        <locationX>1281</locationX>
        <locationY>2697</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Returned</defaultConnectorLabel>
        <rules>
            <name>decOut_BMUserAuthTokenReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getBusinessManagerUserGrant.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAuth_Action</targetReference>
            </connector>
            <label>Was Returned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if only one site was found among the list of available B2C Sites supporting OOBO.</description>
        <name>dec_wasOnlyOneSiteFound</name>
        <label>Was Only One Site Found?</label>
        <locationX>1278</locationX>
        <locationY>1565</locationY>
        <defaultConnector>
            <targetReference>scrn_b2cSiteSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Sites</defaultConnectorLabel>
        <rules>
            <name>decOut_wasOnlyOneSiteFound_oneSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_iterateB2CSites</targetReference>
            </connector>
            <label>Only One Site</label>
        </rules>
    </decisions>
    <description>To trigger flow from Case</description>
    <dynamicChoiceSets>
        <description>... represents the collection of active B2C Sites mapped to the selected / filtered CustomerList.</description>
        <name>rcActiveB2CSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Order_on_Behalf_Of__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PVHCKUS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PVHCKCA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PVHTHUS</stringValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputAssignments>
            <assignToReference>selectedClientId</assignToReference>
            <field>B2C_Client_ID_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteApi</assignToReference>
            <field>Base_API_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <field>Base_Custom_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <field>Base_Internal_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteVersion</assignToReference>
            <field>OCAPI_Version_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlType</assignToReference>
            <field>OOBO_Active_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <field>OOBO_Customer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerNo</assignToReference>
            <field>OOBO_Customer_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBONamedCredential</assignToReference>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AnonymousCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>if({!asRegistered}==True, False, True)</expression>
    </formulas>
    <formulas>
        <name>AnonymousOrRegistered</name>
        <dataType>String</dataType>
        <expression>if({!asRegistered}==True,&quot;This OOBO Shopping Session will be as Registered User&quot;,&quot;This OOBO Shopping Session will be anonymous&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactForActivity</name>
        <dataType>String</dataType>
        <expression>if({!OldContactId}=={!recordId},&#39;Contact ID : &#39;+{!recordId},&#39;Linked Contact updated from ContactId: &#39;+{!OldContactId}+&#39; to ContactId: &#39;+{!recordId} )</expression>
    </formulas>
    <formulas>
        <name>CustomerIdfieldvalue</name>
        <dataType>String</dataType>
        <expression>if ({!asRegistered} == True,{!recGet_contactRecord.B2C_Customer_ID__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CustomerNoFieldValue</name>
        <dataType>String</dataType>
        <expression>if({!asRegistered}==True,{!recGet_contactRecord.B2C_Customer_No__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>... evaluates which storefrontUrl to leverage -- the internalUrl or the customUrl driven by the urlType configuration.</description>
        <name>frm_selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <expression>IF({!selectedShopUrlType} = &quot;Internal&quot;, {!selectedShopUrlInternal}, IF(ISBLANK({!selectedShopUrlCustom}),{!selectedShopUrlInternal}, {!selectedShopUrlCustom}))</expression>
    </formulas>
    <interviewLabel>OrderOnBehalfOf Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderOnBehalfOf Case</label>
    <loops>
        <description>... loop over the collection of B2C Sites that are available</description>
        <name>loop_iterateB2CSites</name>
        <label>Loop Over the B2C Sites</label>
        <locationX>1288</locationX>
        <locationY>1788</locationY>
        <collectionReference>recGet_activeB2CSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_selectedB2CSiteValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_useB2CCustomerProfileForOOBO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createActivity</name>
        <label>createActivity</label>
        <locationX>1544</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>scrn_launchOOBOShoppingSession</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ActivityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&#39;OOBO&#39;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the collection of active B2C Sites to validate that at least one (1) exists.</description>
        <name>recGet_activeB2CSites</name>
        <label>Get B2C Sites</label>
        <locationX>1299</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_activeB2CSites</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Order_on_Behalf_Of__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_B2C_Client_ID_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_JWT_Certificate_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2F2C000000GOB9UAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2F2C000000GOB8UAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the contact record used to launch the OOBO flow.</description>
        <name>recGet_contactRecord</name>
        <label>Retrieve the Contact</label>
        <locationX>1300</locationX>
        <locationY>1063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_isB2CCustomerListActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2C_Instance__c</queriedFields>
        <queriedFields>B2C_CustomerList_ID__c</queriedFields>
        <queriedFields>B2C_CustomerList__c</queriedFields>
        <queriedFields>B2C_Customer_ID__c</queriedFields>
        <queriedFields>B2C_Customer_No__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Error_Auth</name>
        <label>Error Screen</label>
        <locationX>1290</locationX>
        <locationY>2957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cCommerceRESTAPIError_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Create an Order on Behalf Of Shopping Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Error_Auth_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_ErrorWithAuth</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;The B2C Commerce Instance&#39;s REST API Responded With an Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An error occurred when interacting with the B2C Commerce environment and attempting to authenticate the Service Against.  Please review the REST API error message(s) below for details regarding this failure.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Business Manager User Grant&lt;/b&gt;&lt;/a&gt; is used to authenticate the Service Agent against the B2C Commerce Instane&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/shop/Resources/Customers.html#id152104953__id-1055795270&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;OOBO Customer Authentication&lt;/b&gt;&lt;/a&gt; is used to authenticate the B2C Commerce Customer (either anonymous or registered) against the selected storefront&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_restAPIError_Image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroemergency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Error_Auth_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_bmUserGrantAuthError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Manager User Grant&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ia_getBusinessManagerUserGrant.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>B2C User Grant Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantResponseBody</name>
                    <defaultValue>
                        <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>B2C User Grant Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_ooboCustomerAuthError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;OOBO Customer Authentication&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_OOBOCustomerAuthErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue> {!CustomerAuth_Action.errorMessage}</stringValue>
                    </defaultValue>
                    <fieldText>OOBO Customer Authentication Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOCustomerAuthResponseBody</name>
                    <defaultValue>
                        <stringValue>{!CustomerAuth_Action.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>OOBO Customer Authentication Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lbl_OOBORESTAPIError</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another OOBO Shopping Session.  Verify that the&lt;a href=&quot;https://platform-velocity-6771-dev-ed.lightning.force.com/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt; Per-User NamedCredential&lt;/b&gt;&lt;/a&gt; for the Service Agent is configured property -- and that the password follows the &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html?cp=0_15_2_23&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... select a B2C Site based on the customerList that was identified.</description>
        <name>scrn_b2cSiteSelect</name>
        <label>Select a B2C Site</label>
        <locationX>1107</locationX>
        <locationY>1795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_useB2CCustomerProfileForOOBO</targetReference>
        </connector>
        <fields>
            <name>lbl_selectB2CStorefront_headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Select a B2C Commerce Storefront&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_b2cSiteSelect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pklB2CSite</name>
                    <choiceReferences>rcActiveB2CSites</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the B2C Site for the OOBO Shopping Experience</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>lbl_changeYourCustomerList</name>
                    <fieldText>&lt;p&gt;Click &lt;strong&gt;Next&lt;/strong&gt; to continue.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PVHLogo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroshopping</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... launch the shopping session for OOBO.</description>
        <name>scrn_launchOOBOShoppingSession</name>
        <label>Launch OOBO Shopping Session</label>
        <locationX>1544</locationX>
        <locationY>3390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_successMessage_headline</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Click on the Launch Order on Behalf of button to open the shopping session&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_launchOOBOShoppingSession_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_launchOOBOSuccessMessage</name>
                    <fieldText>&lt;p&gt;The shopping session will open in a new browser tab using the below URL&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_storefrontUrlToRender</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>frm_selectedStorefrontUrl</elementReference>
                    </defaultValue>
                    <fieldText>Configured B2C Site Storefront URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Logging_In_as</name>
                    <fieldText>&lt;p&gt;This OOBO Shopping session will be Anonymous&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>asRegistered</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>B2COrderOnBehalfOf_LWC</name>
                    <extensionName>c:b2COrderOnBehalfOf</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>domain</name>
                        <value>
                            <elementReference>selectedSiteApi</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shopDomain</name>
                        <value>
                            <elementReference>selectedShopUrlInternal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>siteId</name>
                        <value>
                            <elementReference>selectedSiteId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>token</name>
                        <value>
                            <elementReference>CustomerAuth_Action.accessToken</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>version</name>
                        <value>
                            <elementReference>selectedSiteVersion</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>caseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>caseRecordId</name>
                        <value>
                            <elementReference>caseRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PVHLogoLast</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroshopping</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lbl_OOBOSuccessCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The OOBO shopping session will be launched for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_launchOOBOShoppingSession_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactID</name>
                    <fieldText>&lt;p&gt;ContactId:&lt;/p&gt;&lt;p&gt;{!recGet_contactRecord.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FirstName</name>
                    <fieldText>&lt;p&gt;First Name:&lt;/p&gt;&lt;p&gt;{!recGet_contactRecord.FirstName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LastName</name>
                    <fieldText>&lt;p&gt;Last Name:&lt;/p&gt;&lt;p&gt;{!recGet_contactRecord.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailAddress</name>
                    <fieldText>&lt;p&gt;Email Address:&lt;/p&gt;&lt;p&gt;{!recGet_contactRecord.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>B2cCustomerListId</name>
                    <fieldText>&lt;p&gt;B2C CustomerList Id:&lt;/p&gt;&lt;p&gt;{!recGet_contactRecord.B2C_CustomerList_ID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>B2CCustomerId</name>
                    <fieldText>&lt;p&gt;B2C Customer ID:&lt;/p&gt;&lt;p&gt;{!CustomerIdfieldvalue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>B2CCustomerNo</name>
                    <fieldText>&lt;p&gt;B2C Customer No:&lt;/p&gt;&lt;p&gt;{!CustomerNoFieldValue}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lbl_OOBOSuccessStorefrontDetails</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Storefront Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The OOBO shopping session will be launched via this B2C Commerce storefront.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_launchOOBOShoppingSession_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>B2CClientId</name>
                    <fieldText>&lt;p&gt;B2C Client ID:&lt;/p&gt;&lt;p&gt;{!selectedClientId}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ConfiguredStorefrontURL</name>
                    <fieldText>&lt;p&gt;Configured Storefront URL:&lt;/p&gt;&lt;p&gt;{!selectedShopUrlType}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InternalStorefrontURL</name>
                    <fieldText>&lt;p&gt;Internal Storefront URL:&lt;/p&gt;&lt;p&gt;{!selectedShopUrlInternal}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomStorefrontURL</name>
                    <fieldText>&lt;p&gt;Custom Storefront URL:&lt;/p&gt;&lt;p&gt;{!selectedShopUrlCustom}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountManagerNamedCredential</name>
                    <fieldText>&lt;p&gt;Account Manager Named Credential:&lt;/p&gt;&lt;p&gt;{!selectedNamedCredential}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OOBOPerUsedNamedCredential</name>
                    <fieldText>&lt;p&gt;OOBO Per-Used Named Credential:&lt;/p&gt;&lt;p&gt;{!selectedOOBONamedCredential}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OOBOCustomerID</name>
                    <fieldText>&lt;p&gt;OOBO Customer ID:&lt;/p&gt;&lt;p&gt;{!selectedOOBOCustomerId}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OOBOCustomerNo</name>
                    <fieldText>&lt;p&gt;OOBO Customer No:&lt;/p&gt;&lt;p&gt;{!selectedOOBOCustomerNo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Click &lt;b&gt;Finish &lt;/b&gt;to &lt;b&gt;cancel &lt;/b&gt;OOBO launch.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... no active B2C Sites was configured.  OOBO cannot be processed.</description>
        <name>scrn_noActiveB2CSitesFound</name>
        <label>Error: No Active B2C Sites Found</label>
        <locationX>1047</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_noActiveB2CSitesExistHeadline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Launch Order of Behalf Of Shopping Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_noActiveB2CSitesFound_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesIntroText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;No Active B2C Sites Exists&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Order on Behalf of Shopping session requires that at least one (1) active B2C Site is configured in this Salesforce org.  The shopping session cannot be launched without this configuration pre-requisite.  Please ensure that:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The parent &lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Instance&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) B2C Site of the active &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;The active &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; has the &lt;b&gt;Enable OOBO&lt;/b&gt; permission turned on&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please review each of these configuration properties to ensure that related &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Instance&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;CustomerList&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, and &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(61, 62, 63); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Site&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; are enabled -- and then retry launching the Order on Behalf Of shopping session.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesErrorImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astrosecurity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>OOBO Setup: Info</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... no anonymous B2C Site CustomerID value was configured.  OOBO cannot be processed.</description>
        <name>scrn_noAnonCustomerIDSiteConfig</name>
        <label>Error: No Anon. CustomerID Configured for Selected Site</label>
        <locationX>1806</locationX>
        <locationY>2026</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_missingAnonPropertiesError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;An Order On Behalf Of Shopping Session Could Not Be Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_b2cSiteMissingAnonCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The B2C Site Configuration is Missing the Anonymous B2C Customer ID / Customer No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Contact that was selected is not a B2C Commerce Customer, and does not have a B2C Commerce Customer ID present on their record.  Launching OOBO for this customer requires that the selected B2C Site have a OOBO CustomerID / CustomerNo pair that can be used in-place for initial site authentication.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_noAnonCustomerIDSiteConfig_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_noAnonCustomerIDSiteConfig_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_ContactHeading</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Selected Contact Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_ContactName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!recGet_contactRecord.FirstName} {!recGet_contactRecord.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lblCustomerContactID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Id</elementReference>
                    </defaultValue>
                    <fieldText>Contact ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_CustomerB2CCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_CustomerB2CCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_No__c</elementReference>
                    </defaultValue>
                    <fieldText>lbl_CustomerB2CCustomerNo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_noAnonCustomerIDSiteConfig_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_selectedSiteDetails</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Selected B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_selectedSite</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_SiteOOBOCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerId</elementReference>
                    </defaultValue>
                    <fieldText>B2C Site: OOBO CustomerID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_B2CSiteCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerNo</elementReference>
                    </defaultValue>
                    <fieldText>B2C Site: OOBO Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lbl_CustomerNoIssueFooter</name>
            <fieldText>&lt;p&gt;Please configure the current B2C Site with a valid OOBO CustomerID and CustomerNo value -- and then try launching OOBO for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... explain to the user that the OOBO configuration is invalid -- and could not be advanced.</description>
        <name>scrn_OOBOConfigurationInvalid</name>
        <label>Error: OOBO Configuration Invalid</label>
        <locationX>1004</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cSiteConfigurationInvalid_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Create an Order on Behalf Of Shopping Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CouldNotInvokeCallout_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The B2C Site Configuration Is Invalid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please validate that the selected Storefront&#39;s configuration is valid -- and is not missing key details.  Review the following configuration values and note which values are missing or potentially configured incorrectly.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Remember to create the Per-User Named Credential for the Service Agent&lt;/li&gt;&lt;li&gt;The siteUrlType specified must have a corresponding URL define&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_OOBOConfigurationInvalid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_OOBOConfigurationInvalid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigSite</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteClientID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedClientId</elementReference>
                    </defaultValue>
                    <fieldText>Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the namedCredential used to perform system-to-system REST API interactions between the Salesforce Platform and B2C Commerce.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOCAPIVersion</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteVersion</elementReference>
                    </defaultValue>
                    <fieldText>OCAPI Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the OCAPI Version number used to drive OOBO REST API interactions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteShopUrlType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlType</elementReference>
                    </defaultValue>
                    <fieldText>Configured Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the version of the storefront url that will be used to launch the OOBO shopping session.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteInteralShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlInternal</elementReference>
                    </defaultValue>
                    <fieldText>Internal Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the internal SFCC storefront url leveraging the base B2C Instance Url.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteCustomShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlCustom</elementReference>
                    </defaultValue>
                    <fieldText>Custom Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the external customer-facing SFCC storefront url.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_OOBOConfigurationInvalid_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigCustomerList</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Site OOBO Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBONamedCredential</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBONamedCredential</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Per-User Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the per-user Named Credential used to authenticate Service Agents as B2C Commerce Business Manager Agents.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBOCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerId</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the CustomerID of the placeholder B2C Commerce Customer Profile used to authenticate against for non-registered OOBO shopping sessions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBOCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerNo</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the CustomerNo of the placeholder B2C Commerce Customer Profile used to authenticate against for non-registered OOBO shopping sessions.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>lbl_b2cSiteConfigurationErrorFooter</name>
            <fieldText>&lt;p&gt;Please note that the configured Shop URL type must have a valid URL value.  Validate that each of these settings is configured with correct values -- and try launching the OOBO shopping session for the selected customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1173</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>recGet_activeB2CSites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActivityDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!ContactForActivity}
Logged In URL : {!selectedShopUrlCustom}
{!AnonymousOrRegistered}</text>
    </textTemplates>
    <variables>
        <description>... records the number of active customerLists present.</description>
        <name>activeB2CCustomerListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of active B2C Sites configured for the current Salesforce org.</description>
        <name>activeB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... manages the count of active B2C Sites for the selected B2C CustomerList</description>
        <name>activeB2CSitesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>asRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>caseId</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerList attached to the Contact</description>
        <name>contactCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes whether the current shopping session is anonymous or for a specific customer</description>
        <name>isAnonymousShoppingSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OldContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the selected B2C CustomerList</description>
        <name>selectedCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOOBOCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the CustomerNo mapped to a given OOBO user.</description>
        <name>selectedOOBOCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the OOBO Named Credential (per-user used to authenticate an Agent).</description>
        <name>selectedOOBONamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the custom storefront Url for a given B2C Site.</description>
        <name>selectedShopUrlCustom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedShopUrlInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the type of shopUrl that is active for the OOBO experience.</description>
        <name>selectedShopUrlType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RefArch</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedSiteVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the configured storefrontUrl (either the internal or custom based on the urlType configured).</description>
        <name>selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
