unpackaged/main/default/flows/Reason_Code_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ASSIGN_RECORDID</name>
        <label>ASSIGN RECORDID</label>
        <locationX>606</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>foundChildRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>check_for_related_Reason_Code_Product_Sub_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>child_records_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCaseVariables</name>
        <label>assignCaseVariables</label>
        <locationX>361</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>caseBrand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseDetails.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TRUE_and_Co_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultSelect</name>
        <choiceText>Select...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>child_records_found</name>
        <label>child records found?</label>
        <locationX>872</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>defective_merchandise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_child_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundChildRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meta_Product_Category</targetReference>
            </connector>
            <label>yes, child records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>defective_merchandise</name>
        <label>defective merchandise?</label>
        <locationX>1067</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>meta_update_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_defective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Merchandise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Third_Party_Vendor</targetReference>
            </connector>
            <label>yes, defective</label>
        </rules>
    </decisions>
    <decisions>
        <description>Enforces fields selected when reason code is Good Service or Poor Service</description>
        <name>Good_and_Poor_Service_Validation</name>
        <label>Good and Poor Service Validation</label>
        <locationX>350</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>no_meta_choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Good_Service_Validation</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Good Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStoreNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDistrictNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationCheckForPicklist</targetReference>
            </connector>
            <label>Good Service Validation</label>
        </rules>
        <rules>
            <name>Poor_Service_Validation</name>
            <conditionLogic>(1 AND 2) AND (3 or 4 or 5 or 6)</conditionLogic>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poor Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.bottomValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDateOfServiceIssue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varStoreNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDistrictNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationCheckForPicklist</targetReference>
            </connector>
            <label>Poor Service Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_meta_choices</name>
        <label>no meta choices</label>
        <locationX>376</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>updateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_meta_choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Instructions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective Merchandise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Counterfeit Merchandise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sizing Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sizing Questions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Reason_Codes_with_CustomMetaData</targetReference>
            </connector>
            <label>yes meta choice</label>
        </rules>
    </decisions>
    <decisions>
        <description>Initial validation for 3rd picklist selection.</description>
        <name>Reason_Codes_3rd_Picklist_Validation</name>
        <label>Reason Codes 3rd Picklist Validation</label>
        <locationX>569</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Good_and_Poor_Service_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Picklist_NOT_Validated</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.bottomValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Human Resources</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Model Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mis-Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adaptive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return Policy Inquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Account Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationCheckForPicklist</targetReference>
            </connector>
            <label>Picklist NOT Validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>true_3rd_picklist_validation</name>
        <label>true 3rd picklist validation</label>
        <locationX>1149</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>update_Case_with_True_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_3rd_picklist_empty</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Availability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopping Cart</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrueAndCoDependentPicklist.bottomValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrueCo3rdPicklistValidation</targetReference>
            </connector>
            <label>true 3rd picklist empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRUE_and_Co_Decision</name>
        <label>TRUE and Co Decision</label>
        <locationX>591</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_True_and_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseBrand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constant_trueAndCo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Good_Service_Input</targetReference>
            </connector>
            <label>Yes, True and Co</label>
        </rules>
        <rules>
            <name>Not_True_and_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseBrand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>constant_trueAndCo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReasonCodeWidget</targetReference>
            </connector>
            <label>Not True and Co</label>
        </rules>
    </decisions>
    <description>Process for managing the Case Reason Codes. With validations. Gold Master 1.1</description>
    <dynamicChoiceSets>
        <name>choiceReason_Code_Product_Category_mdt</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Reason_Code_Product_Category__mdt</object>
        <outputAssignments>
            <assignToReference>label_choiceReason_Code_Product_Category_mdt</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceReason_Code_Product_Sub_Category_mdt</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason_Code_Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reason_Code_Product_Category_mdt</elementReference>
            </value>
        </filters>
        <object>Reason_Code_Product_Sub_Category__mdt</object>
        <outputAssignments>
            <assignToReference>label_Reason_Code_Product_Sub_Category_mdt</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceThirdPartyVendors</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Third-Party Vendor</stringValue>
            </value>
        </filters>
        <object>Reason_Code_Product_Sub_Category__mdt</object>
        <outputAssignments>
            <assignToReference>labelThirdPartyVendors</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>defectiveManufacturer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_Code_Manufacturers__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Reason_Code_Product_Sub_Category__mdt</description>
        <name>mdt_Reason_Code_Product_Sub_Category</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason_Code_Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meta_Reason_Code_Product_Category</elementReference>
            </value>
        </filters>
        <object>Reason_Code_Product_Sub_Category__mdt</object>
        <outputAssignments>
            <assignToReference>label_Reason_Code_Product_Sub_Category_mdt</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <sortField>MasterLabel</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Reason_Code_Product_Category__mdt</description>
        <name>meta_Reason_Code_Product_Category</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>Reason_Code_Product_Category__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistReasonCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Reason Code FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reason Code FLOW with Validations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>check_for_related_Reason_Code_Product_Sub_Category</name>
        <label>check for related Reason Code Product Sub-Category</label>
        <locationX>405</locationX>
        <locationY>945</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_RECORDID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason_Code_Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reason_Code_Product_Category_mdt</elementReference>
            </value>
        </filters>
        <object>Reason_Code_Product_Sub_Category__mdt</object>
        <outputAssignments>
            <assignToReference>foundChildRecordId</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCaseDetails</name>
        <label>getCaseDetails</label>
        <locationX>233</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCaseVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>meta_update_records</name>
        <label>meta update records</label>
        <locationX>1545</locationX>
        <locationY>1114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Code_Details__c</field>
            <value>
                <elementReference>picklistReasonCodeSelections.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Manufacturers__c</field>
            <value>
                <elementReference>defectiveManufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Product_Sub_Categories_Widge__c</field>
            <value>
                <elementReference>label_Reason_Code_Product_Sub_Category_mdt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code__c</field>
            <value>
                <elementReference>picklistReasonCodeSelections.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Sub_detail__c</field>
            <value>
                <elementReference>label_choiceReason_Code_Product_Category_mdt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sku_Style_Number__c</field>
            <value>
                <elementReference>SKU_Style_Number_PVH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Vendors__c</field>
            <value>
                <elementReference>labelThirdPartyVendors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDateofServiceIssue__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDistrictNumber__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHStoreNumber__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Case_with_True_Values</name>
        <label>update Case with True Values</label>
        <locationX>881</locationX>
        <locationY>232</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Code_Details__c</field>
            <value>
                <elementReference>TrueAndCoDependentPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Manufacturers__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Product_Sub_Categories__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code__c</field>
            <value>
                <elementReference>TrueAndCoDependentPicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Sub_detail__c</field>
            <value>
                <elementReference>TrueAndCoDependentPicklist.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDateofServiceIssue__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDistrictNumber__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHStoreNumber__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHUpdateAccountInfoReason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>252</locationX>
        <locationY>673</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Code_Details__c</field>
            <value>
                <elementReference>picklistReasonCodeSelections.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Manufacturers__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code_Product_Sub_Categories__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Code__c</field>
            <value>
                <elementReference>picklistReasonCodeSelections.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Sub_detail__c</field>
            <value>
                <elementReference>picklistReasonCodeSelections.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDateofServiceIssue__c</field>
            <value>
                <elementReference>varDateOfServiceIssue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHDistrictNumber__c</field>
            <value>
                <elementReference>varDistrictNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHStoreNumber__c</field>
            <value>
                <elementReference>varStoreNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZdPVHUpdateAccountInfoReason__c</field>
            <value>
                <elementReference>varUpdateAccountInfoReason</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Good_Service_Input</name>
        <label>Good Service Input</label>
        <locationX>825</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>true_3rd_picklist_validation</targetReference>
        </connector>
        <fields>
            <name>TrueAndCoDependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>TrueAndCo_ReasonCodes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reason Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>TrueAndCo_ReasonCodeDetails__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reason Code Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varReasonCodeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varReasonCodeDetailsValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>TrueAndCo_ReasonSubDetail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>* Reason Sub-detail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meta_Product_Category</name>
        <label>Reason Code Product Sub-Categories</label>
        <locationX>714</locationX>
        <locationY>1005</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defective_merchandise</targetReference>
        </connector>
        <fields>
            <name>choice_Reason_Code_Product_Sub_Category_mdt</name>
            <choiceReferences>choiceReason_Code_Product_Sub_Category_mdt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Code Product Sub-Categories</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Utilizes custom metadata for additional product category requirements.</description>
        <name>Product_Reason_Codes_with_CustomMetaData</name>
        <label>Product Reason Codes with CustomMetaData</label>
        <locationX>219</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_for_related_Reason_Code_Product_Sub_Category</targetReference>
        </connector>
        <fields>
            <name>Reason_Code_Product_Category_mdt</name>
            <choiceReferences>choiceReason_Code_Product_Category_mdt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReasonCodeWidget</name>
        <label>Reason Code Widget</label>
        <locationX>481</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_Codes_3rd_Picklist_Validation</targetReference>
        </connector>
        <fields>
            <name>picklistReasonCodeSelections</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Reason_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reason_Code_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reason Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varReasonCodeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reason Code Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Reason_Sub_detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>* Reason Sub-detail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>caseBrand</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>constant_trueAndCo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varDateOfServiceIssue</name>
            <dataType>Date</dataType>
            <fieldText>* Date of Service Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constant_Poor_Service</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseBrand</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>constant_trueAndCo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varStoreNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>* Store Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constant_Good_Service</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constant_Poor_Service</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseBrand</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>constant_trueAndCo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varDistrictNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>* District Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constant_Good_Service</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constant_Poor_Service</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>caseBrand</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>constant_trueAndCo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varUpdateAccountInfoReason</name>
            <dataType>String</dataType>
            <fieldText>* Update Account Info Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>picklistReasonCodeSelections.bottomValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Update Account Info Reason</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Manufacturer</name>
        <label>Select Manufacturer</label>
        <locationX>1525</locationX>
        <locationY>774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>meta_update_records</targetReference>
        </connector>
        <fields>
            <name>choice_Select_Manufacturer</name>
            <choiceReferences>defectiveManufacturer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SKU_Style_Number_PVH</name>
            <dataType>String</dataType>
            <fieldText>SKU/Style Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Third_Party_Vendor</name>
        <label>Third Party Vendor</label>
        <locationX>1287</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Manufacturer</targetReference>
        </connector>
        <fields>
            <name>choice_third_party_vendor</name>
            <choiceReferences>choiceThirdPartyVendors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Third Party Vendor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TrueCo3rdPicklistValidation</name>
        <label>True Co 3rd Picklist Validation</label>
        <locationX>1106</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Good_Service_Input</targetReference>
        </connector>
        <fields>
            <name>trueCoValidation</name>
            <fieldText>&lt;p&gt;Please ensure all dropdowns are complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidationCheckForPicklist</name>
        <label>Validation Check For Picklist</label>
        <locationX>192</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReasonCodeWidget</targetReference>
        </connector>
        <fields>
            <name>ValidationTextDisclaimer</name>
            <fieldText>&lt;p&gt;Please complete all fields before moving forward.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>102</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>getCaseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>constant_Good_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Good Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>constant_Poor_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Poor Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>constant_trueAndCo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>11</stringValue>
        </value>
    </variables>
    <variables>
        <name>foundChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>label_choiceReason_Code_Product_Category_mdt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>label_Reason_Code_Product_Sub_Category_mdt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>labelThirdPartyVendors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NULLText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NULL</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReasonCodeDetailsValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReasonCodeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReasonSubDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
