unpackaged/main/default/flows/Unlock_B2C_On_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_B2C_is_Locked</name>
        <label>Assign B2C is Locked</label>
        <locationX>258</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>tempCase.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.B2C_Is_Enabled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB2CLocked</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.B2C_Is_Locked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Case_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_B2C_is_Locked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_is_Locked</name>
        <label>Assign Case is Locked</label>
        <locationX>121</locationX>
        <locationY>1618</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Case_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCase.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_to_case_0</name>
        <label>Assign contact to case</label>
        <locationX>390</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>tempCase.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.B2C_Is_Enabled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Case_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_from_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_record_Id_and_other_fields_of_contact_record</name>
        <label>Update the record Id and other fields of contact record</label>
        <locationX>126</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>tempContactRecordForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactRecordForUpdate.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB2CLocked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_contact_to_unlock_B2C</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ecomm_connected</name>
        <label>Ecomm connected</label>
        <locationX>385</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Assign_B2C_is_Locked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eccom_connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Ecomm_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecomm_connected_is_not_connected</targetReference>
            </connector>
            <label>eccom connected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_B2C_Locked</name>
        <label>Verify B2C Locked</label>
        <locationX>249</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>Assign_contact_to_case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_B2C_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.B2C_Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_is_Locked</targetReference>
            </connector>
            <label>Is B2C Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Case_tagged_to_a_contact</name>
        <label>Verify Case tagged to a contact</label>
        <locationX>490</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Contact_is_not_attached_to_the_current_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_case_attached_to_a_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Case_records.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>If case attached to a contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Unlock B2C On contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unlock B2C On contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Case_records</name>
        <label>Fetch Case records</label>
        <locationX>258</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Case_tagged_to_a_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>499</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Customer_Profile_retrieve_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>253</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecomm_connected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>133</locationX>
        <locationY>1754</locationY>
        <inputReference>tempCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_B2C_is_Locked</name>
        <label>Update Case</label>
        <locationX>258</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Verify_B2C_Locked</targetReference>
        </connector>
        <inputReference>tempCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_from_Contact</name>
        <label>Update Case</label>
        <locationX>390</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Contact_already_unlocked</targetReference>
        </connector>
        <inputReference>tempCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_contact_to_unlock_B2C</name>
        <label>Update the contact to unlock B2C</label>
        <locationX>120</locationX>
        <locationY>1473</locationY>
        <connector>
            <targetReference>Assign_Case_is_Locked</targetReference>
        </connector>
        <inputReference>tempContactRecordForUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>B2C_is_Locked</name>
        <label>B2C is Locked</label>
        <locationX>126</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_the_record_Id_and_other_fields_of_contact_record</targetReference>
        </connector>
        <fields>
            <name>B2C_Is_Locked_CB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Record.B2C_Is_Locked__c</elementReference>
            </defaultValue>
            <fieldText>Customer Account is Locked</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unlock_confirm_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you want to Unlock this Customer Account?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_already_unlocked</name>
        <label>Contact already unlocked</label>
        <locationX>390</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_unlocked_display_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;This Customer Account is currently unlocked - No Action needed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_is_not_attached_to_the_current_case</name>
        <label>Contact is not attached to the current case</label>
        <locationX>723</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contact_not_attached_display_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please attach contact to this case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecomm_connected_is_not_connected</name>
        <label>Ecomm connected is not connected</label>
        <locationX>496</locationX>
        <locationY>755</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ecomm_Connected_not_attached_display_text_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿Please attach Ecomm Connected Contact to this case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Invoke_Customer_Profile_retrieve_0</name>
        <label>Invoke Customer Profile retrieve</label>
        <locationX>255</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Fetch_Case_records</targetReference>
        </connector>
        <flowName>B2CCommerce_QuickAction_Contact_ContactRetrieve</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseColletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tempContactRecordForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varB2CLocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
