unpackaged/main/default/flows/Unlock_B2C_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_the_record_Id_and_other_fields_of_contact_record</name>
        <label>Update the record Id and other fields of contact record</label>
        <locationX>126</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>tempContactRecordForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactRecordForUpdate.B2C_Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_contact_to_unlock_B2C</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_B2C_Locked</name>
        <label>Verify B2C Locked</label>
        <locationX>258</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Contact_already_unlocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_B2C_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.B2C_Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_is_Locked</targetReference>
            </connector>
            <label>Is B2C Locked</label>
        </rules>
    </decisions>
    <interviewLabel>Unlock B2C Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unlock B2C Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>258</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_B2C_Locked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_contact_to_unlock_B2C</name>
        <label>Update the contact to unlock B2C</label>
        <locationX>126</locationX>
        <locationY>1046</locationY>
        <inputReference>tempContactRecordForUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>B2C_is_Locked</name>
        <label>B2C is Locked</label>
        <locationX>126</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_the_record_Id_and_other_fields_of_contact_record</targetReference>
        </connector>
        <fields>
            <name>B2C_Is_Locked_CB</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Record.B2C_Is_Locked__c</elementReference>
            </defaultValue>
            <fieldText>B2C Is Locked ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unlock_confirm_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The current user access is locked. Do you want to unlock ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_already_unlocked</name>
        <label>Contact already unlocked</label>
        <locationX>390</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_unlocked_display_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This contact is already in unlocked status.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Invoke_Customer_Profile_retrieve_0</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Invoke_Customer_Profile_retrieve_0</name>
        <label>Invoke Customer Profile retrieve</label>
        <locationX>403</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <flowName>B2CCommerce_QuickAction_Contact_ContactRetrieve</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempContactRecordForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
