unpackaged/main/default/flows/updateCaseWithEmailResponse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CaseNotFound</name>
        <label>CaseNotFound</label>
        <locationX>672</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>out_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The request specified do not match any records in our system. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>438</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>out_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We are sorry but an unknown processing error occurred.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>response_update_negative</name>
        <label>response_update_negative</label>
        <locationX>971</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>out_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We are sorry, but a response was previously recorded in our system.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>response_updatePositive</name>
        <label>response_updatePositive</label>
        <locationX>62</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>out_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank you, your response was successfully received and recorded in our system.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>List of acceptable case actions input into the API request</description>
        <name>Set_Case_Statuses</name>
        <label>Set Case Statuses</label>
        <locationX>386</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IdentityVerified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CSRReviewResponse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ClosedNoActionTaken</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ClosedWithActionTaken</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBoolean</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PrivacyIntervalSettingName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PrivacyIntervalSetting</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Valid list of responses is set in &#39;Set Case Statuses&#39;</description>
        <name>CheckBoolean</name>
        <label>CheckResponse</label>
        <locationX>451</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>response_update_negative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Update_User_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>in_verificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case.VerificationHash__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Confirmed_Case</targetReference>
            </connector>
            <label>Update User Confirmation</label>
        </rules>
        <rules>
            <name>Other_Valid_Responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseStatuses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>in_response</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>in_verificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case.VerificationHash__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_pos</targetReference>
            </connector>
            <label>Other Valid Responses</label>
        </rules>
    </decisions>
    <description>Changed response messages</description>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!Privacy_Interval.MaxAfterConfirm__c} / 24</expression>
    </formulas>
    <interviewLabel>updateCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case with Cust/Data Owner Response via API (links in email)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Hash is verified later.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>218</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Privacy_Interval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseNotFound</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_caseid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VerificationHash__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Privacy_Interval</name>
        <label>Privacy Interval</label>
        <locationX>219</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivacyIntervalSettingName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Intervals__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MaxAfterConfirm__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_pos</name>
        <label>Update Case Status Positive</label>
        <locationX>514</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>response_updatePositive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_caseid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>resolution_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>in_response</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates case where the user has confirmed their request and sets the date</description>
        <name>Update_User_Confirmed_Case</name>
        <label>Update User Confirmed Case</label>
        <locationX>200</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>response_updatePositive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_User_Confirmed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>resolution_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>in_response</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseStatuses</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>in_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_response_bad</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_verificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Your response was not successfully processed. Please email customer support</stringValue>
        </value>
    </variables>
    <variables>
        <name>out_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>resolution_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
