unpackaged/main/default/flows/User_Deactivated_support_agent_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decUser_previously_had_support_agent_permissions</name>
        <label>User previously had support agent permissions</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_previous_support_agent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1 TEMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR CCPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR PVH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR Wholesale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier II CSR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier III CSR/Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decUser_still_needs_support_agent_permissions</targetReference>
            </connector>
            <label>Yes, previous support agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUser_still_needs_support_agent_permissions</name>
        <label>User still needs support agent permissions?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_Remove_Case_Scenarios_Einstein_PSGs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_still_needs_support_agent_permissions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1 TEMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR CCPA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR PVH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier I CSR Wholesale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier II CSR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier III CSR/Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_run_Assign_Remove_Case_Scenarios_Einstein_PSGs</targetReference>
            </connector>
            <label>Yes, still needs support agent permissions</label>
        </rules>
    </decisions>
    <description>Triggers the &quot;User: Assign/Remove Case Scenarios &amp; Einstein PSGs&quot; flow when a user should no longer have access to Case Scenario &amp; Einstein permissions.</description>
    <environments>Default</environments>
    <interviewLabel>Triggers the &quot;User: Assign/Remove Case Scenarios &amp; Einstein PSGs&quot; flow when a support agent user is created/updated with an appropriate Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Deactivated support agent user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decUser_previously_had_support_agent_permissions</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.Profile.Name}),
{!$Record.IsActive} = TRUE)</filterFormula>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Run &quot;User: Assign/Remove Case Scenarios &amp; Einstein PSGs&quot; Subflow</description>
        <name>Assign_Remove_Case_Scenarios_Einstein_PSGs</name>
        <label>Remove Case Scenarios &amp; Einstein PSGs</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <flowName>User_Assign_Remove_Case_Scenarios_Einstein_PSGs</flowName>
        <inputAssignments>
            <name>varModifyPSGDeveloperName</name>
            <value>
                <stringValue>Case_Scenarios_Modify_PSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetGroupDeveloperName</name>
            <value>
                <stringValue>Case_Scenarios_Read_PSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermSetGroupAction</name>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserPriorProfileName</name>
            <value>
                <elementReference>$Record__Prior.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserProfileName</name>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Re-run &quot;User: Assign/Remove Case Scenarios &amp; Einstein PSGs&quot; Subflow</description>
        <name>Re_run_Assign_Remove_Case_Scenarios_Einstein_PSGs</name>
        <label>Re-run Assign/Remove Case Scenarios &amp; Einstein PSGs</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>User_Assign_Remove_Case_Scenarios_Einstein_PSGs</flowName>
        <inputAssignments>
            <name>varModifyPSGDeveloperName</name>
            <value>
                <stringValue>Case_Scenarios_Modify_PSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermissionSetGroupDeveloperName</name>
            <value>
                <stringValue>Case_Scenarios_Read_PSG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPermSetGroupAction</name>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserPriorProfileName</name>
            <value>
                <elementReference>$Record__Prior.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserProfileName</name>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
