unpackaged/main/default/flows/User_Assign_Remove_Case_Scenarios_Einstein_PSGs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decCreate_PSG_Found</name>
        <label>READ PSG Found?</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>decProfile_is_was_Ops_Quality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_READ_PSG_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPermissionSetGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_READ_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Yes, READ PSG found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIs_User_already_assigned_Modify_PSG</name>
        <label>Is User already assigned Modify PSG?</label>
        <locationX>248</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resRemove_Modify_PSG_former_Ops_Quality</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varUserHasModifyPSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserPriorProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserPriorProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Modify_PSG_from_User</targetReference>
            </connector>
            <label>Remove Modify PSG - former Ops/Quality</label>
        </rules>
        <rules>
            <name>resRemove_Modify_PSG_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserHasModifyPSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPermSetGroupAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Modify_PSG_from_User</targetReference>
            </connector>
            <label>Remove Modify PSG - Assigned</label>
        </rules>
        <rules>
            <name>resAdd_to_Modify_PSG_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserHasModifyPSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPermSetGroupAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_Modify_PSG</targetReference>
            </connector>
            <label>Add to Modify PSG - Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIs_User_already_assigned_READ_PSG</name>
        <label>Is User already assigned READ PSG?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>decProfile_is_was_Ops_Quality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resAdd_to_READ_PSG_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserHasPSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPermSetGroupAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_CREATE_PSG</targetReference>
            </connector>
            <label>Add to READ PSG - Not Assigned</label>
        </rules>
        <rules>
            <name>resRemove_READ_PSG_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserHasPSG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPermSetGroupAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CREATE_PSG_from_User</targetReference>
            </connector>
            <label>Remove READ PSG - Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>decProfile_is_was_Ops_Quality</name>
        <label>Profile is/was Ops/Quality?</label>
        <locationX>534</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>resYes_Ops_Quality</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserPriorProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops/Quality</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Modify_All_PSG</targetReference>
            </connector>
            <label>Yes, Ops/Quality</label>
        </rules>
        <rules>
            <name>resSys_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserPriorProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Modify_All_PSG</targetReference>
            </connector>
            <label>Sys Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modify_All_PSG_Found</name>
        <label>Modify All PSG Found?</label>
        <locationX>534</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Modify_All_PSG_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModifyPSGid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Modify_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Yes, Modify All PSG found</label>
        </rules>
    </decisions>
    <description>Adds/removes permission set group assignments from users for the Case Scenarios object and Einstein for Service feature permission licenses</description>
    <environments>Default</environments>
    <interviewLabel>User: Assign/Remove Case Scenarios &amp; Einstein PSGs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Assign/Remove Case Scenarios &amp; Einstein PSGs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_user_to_CREATE_PSG</name>
        <label>Add user to CREATE PSG</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>decProfile_is_was_Ops_Quality</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>varPermissionSetGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_user_to_Modify_PSG</name>
        <label>Add user to Modify PSG</label>
        <locationX>292</locationX>
        <locationY>1766</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>varModifyPSGid</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_CREATE_PSG_from_User</name>
        <label>Remove CREATE PSG from User</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>decProfile_is_was_Ops_Quality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetGroupId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Modify_PSG_from_User</name>
        <label>Remove Modify PSG from User</label>
        <locationX>248</locationX>
        <locationY>2102</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModifyPSGid</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Modify_All_PSG</name>
        <label>Get Modify All PSG</label>
        <locationX>534</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_All_PSG_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModifyPSGDeveloperName</elementReference>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>varModifyPSGid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_READ_PSG_Id</name>
        <label>Get READ PSG Id</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decCreate_PSG_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetGroupDeveloperName</elementReference>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>varPermissionSetGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Modify_Permission_Set_Assignment</name>
        <label>Lookup Modify Permission Set Assignment</label>
        <locationX>248</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decIs_User_already_assigned_Modify_PSG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varModifyPSGid</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varUserHasModifyPSG</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_READ_Permission_Set_Assignment</name>
        <label>Lookup READ Permission Set Assignment</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decIs_User_already_assigned_READ_PSG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetGroupId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varUserHasPSG</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_READ_PSG_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varModifyPSGDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varModifyPSGid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermissionSetGroupDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermissionSetGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermSetGroupAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserHasModifyPSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserHasPSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserPriorProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
