unpackaged/main/default/flows/Waiting_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Rand</name>
        <label>Rand</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Random</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&#39;asdfasd&#39;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime}+ 0.00011</expression>
    </formulas>
    <interviewLabel>Waiting flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Waiting flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_for_10sec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Random</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_10sec</name>
        <label>Wait for 10sec</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_for_few_time</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Rand</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>StartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Wait for few time</label>
        </waitEvents>
    </waits>
</Flow>
